<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<!-- Meta data -->
<ui:include src="../../modulos/meta_data.xhtml" />

<h:head>
	<!-- Meta header -->
	<ui:include src="../../modulos/meta_header.xhtml" />
	<title>Turgui | Contactos</title>
</h:head>
<body>
	<!-- Menú -->
	<ui:include src="../../modulos/menu_admin.xhtml" />
	<!-- Meta body -->
	<ui:include src="../../modulos/meta_body.xhtml" />
	
	<div class="turgui-container-dashboard ">
		<!-- Sub container -->
		<ui:include src="../../modulos/meta_container.xhtml" />
		<div class="container">
			<h1>Contactos</h1>
			<div class="row mb-4">
				<!-- Formulario para registrar un nuevo contacto -->
				<div class="col-sm">
					<p:commandButton value="Nuevo"
						class="turgui__btn_primary turgui__icon_space " icon="fa fa-plus"
						onclick="PF('modal_registrar').show();" />
					<p:dialog header="Registrar nuevo contacto"
						widgetVar="modal_registrar" modal="true">
						<h:form id="form_create">
							<div class="form-group">
								<p:outputLabel for="lugar">Lugar</p:outputLabel>
								<p:selectOneMenu id="lugar" value="#{beanContacto.idLugar}"
									class="form-control" required="true"
									requiredMessage="Seleccione primero un lugar">
									<f:selectItems value="#{beanContacto.listaLugares}" var="lugar"
										itemLabel="#{lugar.nombre}" itemValue="#{lugar.idLugar}"></f:selectItems>
								</p:selectOneMenu>
							</div>
							<div class="form-group">
								<p:outputLabel for="nombre">Nombre</p:outputLabel>
								<p:inputText id="nombre" class="form-control" maxlength="50"
									requiredMessage="Ingrese un nombre"
									value="#{beanContacto.contacto.nombre}" required="true"></p:inputText>
							</div>
							<div class="form-group">
								<p:outputLabel for="telefono">Teléfono</p:outputLabel>
								<p:inputText id="telefono" class="form-control" maxlength="15"
									requiredMessage="Ingrese un número de teléfono"
									value="#{beanContacto.contacto.telefono}" required="true"></p:inputText>
							</div>
							<div class="form-group">
								<p:outputLabel for="celular">Celular</p:outputLabel>
								<p:inputText id="celular" class="form-control" maxlength="15"
									requiredMessage="Ingrese un número de celular"
									value="#{beanContacto.contacto.celular}" required="true"></p:inputText>
							</div>
							<div class="form-group">
								<p:outputLabel for="correo">Correo</p:outputLabel>
								<p:inputText id="correo" class="form-control" maxlength="200"
									requiredMessage="Ingrese un correo electrónico"
									value="#{beanContacto.contacto.correo}" required="true"></p:inputText>
							</div>
							<p:commandButton
								class="turgui__btn_primary turgui__icon_space btn-block"
								value="Guardar" icon="fa fa-save" update="@form, :form-data"
								onclick="PF('modal_registrar').hide();"
								actionListener="#{beanContacto.actionIngresarContacto()}" />
						</h:form>
					</p:dialog>
				</div>
			</div>

			<!-- Tabla de datos -->
			<h:form id="form-data">
				<p:panel header="Datos de los contactos" id="datos">
					<p:dataTable value="#{beanContacto.listaContactos}"
						resizableColumns="true" resizeMode="expand" var="contacto"
						reflow="true" paginator="true" rows="5">
						<p:column headerText="NOMBRE" filterBy="#{contacto.nombre}"
							filterMatchMode="contains" priority="1">
							<h:outputText value="#{contacto.nombre}"></h:outputText>
						</p:column>
						<p:column headerText="TELÉFONO" filterBy="#{contacto.telefono}"
							filterMatchMode="contains" priority="1">
							<h:outputText value="#{contacto.telefono}"></h:outputText>
						</p:column>
						<p:column headerText="CELULAR" filterBy="#{contacto.celular}"
							filterMatchMode="contains" priority="1">
							<h:outputText value="#{contacto.celular}"></h:outputText>
						</p:column>
						<p:column headerText="CORREO" filterBy="#{contacto.correo}"
							filterMatchMode="contains" priority="1">
							<h:outputText value="#{contacto.correo}"></h:outputText>
						</p:column>
						<p:column headerText="LUGAR"
							filterBy="#{contacto.lugLugar.nombre}" filterMatchMode="contains"
							priority="1">
							<h:outputText value="#{contacto.lugLugar.nombre}"></h:outputText>
						</p:column>
						<p:column headerText="OPCIONES">
							<div class="col-sm">
								<div class="d-flex justify-content-around">
									<p:commandButton class="turgui__btn_info" value="Modificar"
										icon="fa fa-edit"
										actionListener="#{beanContacto.actionListenerCambiarContacto(contacto)}"
										onclick="PF('modal_modificar').show();"
										update="@form, :form_modificar">
									</p:commandButton>
								</div>
							</div>
						</p:column>
						<p:column headerText="OPCIONES">
							<div class="col-sm">
								<div class="d-flex justify-content-around">
									<p:commandButton class="turgui__btn_danger ml-2"
										value="Eliminar" icon="fa fa-remove"
										actionListener="#{beanContacto.actionListenerCambiarContacto(contacto)}"
										onclick="PF('modal_eliminar').show();">
									</p:commandButton>
								</div>
							</div>
						</p:column>
					</p:dataTable>
				</p:panel>
			</h:form>


			<!-- Modal para confirmar la eliminacion de un Registro -->
			<p:dialog header="Confirmación" widgetVar="modal_eliminar"
				modal="true" height="100">
				<h:form id="form_delete">
					<h:outputText value="¿Está seguro de eliminar?" />
					<p:separator />
					<p:commandButton value="Yes" update="@form, :form-data"
						icon="pi pi-check" class="turgui__btn_primary turgui__icon_space "
						onclick="PF('modal_eliminar').hide();"
						actionListener="#{beanContacto.actionListenerEliminarContacto()}" />
					<p:commandButton value="No" type="button"
						class="turgui__btn_danger ml-2"
						onclick="PF('modal_eliminar').hide();" icon="pi pi-times" />

				</h:form>
			</p:dialog>


			<!-- Formulario para editar un Registro -->
			<div class="col-sm">
				<p:dialog header="Modificar contacto" widgetVar="modal_modificar"
					modal="true">
					<h:form id="form_modificar">
						<div class="form-group">
							<p:outputLabel for="lugar">Lugar</p:outputLabel>
							<p:selectOneMenu id="lugar" value="#{beanContacto.idLugar}"
								class="form-control" required="true"
								requiredMessage="Seleccione primero un lugar">
								<f:selectItems value="#{beanContacto.listaLugares}" var="lugar"
									itemLabel="#{lugar.nombre}" itemValue="#{lugar.idLugar}"></f:selectItems>
							</p:selectOneMenu>
						</div>
						<div class="form-group">
							<p:outputLabel for="nombre">Nombre</p:outputLabel>
							<p:inputText id="nombre" class="form-control"
								value="#{beanContacto.contacto.nombre}" required="true"
								requiredMessage="Ingrese primero un nombre"></p:inputText>
						</div>
						<div class="form-group">
							<p:outputLabel for="telefono">Teléfono</p:outputLabel>
							<p:inputText id="telefono" class="form-control"
								value="#{beanContacto.contacto.telefono}" required="true"
								requiredMessage="Ingrese primero un número de teléfono"></p:inputText>
						</div>
						<div class="form-group">
							<p:outputLabel for="celular">Celular</p:outputLabel>
							<p:inputText id="celular" class="form-control"
								value="#{beanContacto.contacto.celular}" required="true"
								requiredMessage="Ingrese primero un número de celular"></p:inputText>
						</div>
						<div class="form-group">
							<p:outputLabel for="correo">Correo</p:outputLabel>
							<p:inputText id="correo" class="form-control"
								value="#{beanContacto.contacto.correo}" required="true"
								requiredMessage="Ingrese primero un correo electrónico"></p:inputText>
						</div>
						<p:commandButton
							class="turgui__btn_primary turgui__icon_space btn-block"
							value="Guardar" icon="fa fa-save" update="@form, :form-data"
							onclick="PF('modal_modificar').hide();"
							actionListener="#{beanContacto.actionListenerActualizarContacto()}" />
					</h:form>
				</p:dialog>
			</div>
		</div>
		<!-- Container footer -->
		<ui:include src="../../modulos/meta_container_footer.xhtml" />
	</div>

	<!-- Scripts -->
	<ui:include src="../../modulos/meta_scripts.xhtml" />
</body>
</html>
