<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<!-- Meta data -->
<ui:include src="../../modulos/meta_data.xhtml" />

<h:head>
	<!-- Meta header -->
	<ui:include src="../../modulos/meta_header.xhtml" />
	<title>Turgui | Estado del reporte</title>
</h:head>
<body>
	<!-- Menú -->
	<ui:include src="../../modulos/menu_admin.xhtml" />
	<!-- Meta body -->
	<ui:include src="../../modulos/meta_body.xhtml" />
	
	<div class="turgui-container-dashboard ">
		<!-- Sub container -->
		<ui:include src="../../modulos/meta_container.xhtml" />
		<div class="container">
			<h1 class="mt-4">Estado de reporte</h1>
			<div class="row mb-4">
				<!-- Formulario para registrar un nuevo Tipo de Archivo -->
				<div class="col-sm">
					<p:commandButton value="Nuevo"
						class="turgui__btn_primary turgui__icon_space " icon="fa fa-plus"
						onclick="PF('modal_registrar').show();" />
					<p:dialog header="Registrar nuevo estado de reporte"
						widgetVar="modal_registrar" modal="true">
						<h:form id="form_create">
							<div class="form-group">
								<p:outputLabel for="nombre">Nombre</p:outputLabel>
								<p:inputText id="nombre" class="form-control" maxlength="50"
									requiredMessage="Ingrese un nombre"
									value="#{beanEstadoReporte.estadoReporte.nombre}"
									required="true"></p:inputText>
							</div>
							<p:commandButton
								class="turgui__btn_primary turgui__icon_space btn-block"
								value="Guardar" icon="fa fa-save" update="@form, :form-data"
								onclick="PF('modal_registrar').hide();"
								actionListener="#{beanEstadoReporte.actionListenerIngresarEstadoReporte()}" />
						</h:form>
					</p:dialog>
				</div>
			</div>

			<!-- Tabla de datos -->
			<h:form id="form-data">
				<p:panel header="Datos de estados de reporte" id="datos">
					<p:dataTable value="#{beanEstadoReporte.listaEstadoReporte}"
						var="estadoReporte" reflow="true" paginator="true" rows="5">
						<p:column headerText="NOMBRE" filterBy="#{estadoReporte.nombre}"
							filterMatchMode="contains" priority="1">
							<h:outputText value="#{estadoReporte.nombre}"></h:outputText>
						</p:column>
						<p:column headerText="OPCIONES">
							<div class="col-sm">
								<div class="d-flex justify-content-around">
									<p:commandButton class="turgui__btn_info" value="Modificar"
										icon="fa fa-edit"
										actionListener="#{beanEstadoReporte.actionListenerCambiarEstadoReporte(estadoReporte)}"
										onclick="PF('modal_modificar').show();"
										update="@form, :form_modificar">
									</p:commandButton>
									<p:commandButton class="turgui__btn_danger ml-2"
										value="Eliminar" icon="fa fa-remove"
										actionListener="#{beanEstadoReporte.actionListenerCambiarEstadoReporte(estadoReporte)}"
										onclick="PF('modal_eliminar').show();">
									</p:commandButton>
								</div>
							</div>
						</p:column>
					</p:dataTable>
				</p:panel>
			</h:form>


			<!-- Modal para confirmar la eliminacion de un Registro -->
			<p:dialog header="Confirmación" widgetVar="modal_eliminar"
				modal="true" height="100">
				<h:form id="form_delete">
					<h:outputText value="¿Está seguro de eliminar?" />
					<p:separator />
					<p:commandButton value="Yes" update="@form, :form-data"
						icon="pi pi-check" class="turgui__btn_primary turgui__icon_space "
						onclick="PF('modal_eliminar').hide();"
						actionListener="#{beanEstadoReporte.actionListenerEliminarEstadoReporte()}" />
					<p:commandButton value="No" type="button"
						class="turgui__btn_danger ml-2"
						onclick="PF('modal_eliminar').hide();" icon="pi pi-times" />

				</h:form>
			</p:dialog>


			<!-- Formulario para editar un Registro -->
			<div class="col-sm">
				<p:dialog header="Modificar Estado Reporte"
					widgetVar="modal_modificar" modal="true">
					<h:form id="form_modificar">
						<div class="form-group">
							<p:outputLabel for="nombre">Nombre</p:outputLabel>
							<p:inputText id="nombre" class="form-control"
								value="#{beanEstadoReporte.estadoReporte.nombre}"
								required="true"></p:inputText>
						</div>
						<p:commandButton
							class="turgui__btn_primary turgui__icon_space btn-block"
							value="Guardar" icon="fa fa-save" update="@form, :form-data"
							onclick="PF('modal_modificar').hide();"
							actionListener="#{beanEstadoReporte.actionListenerActualizarEstadoReporte()}" />
					</h:form>
				</p:dialog>
			</div>
		</div>
		<!-- Container footer -->
		<ui:include src="../../modulos/meta_container_footer.xhtml" />
	</div>

	<!-- Scripts -->
	<ui:include src="../../modulos/meta_scripts.xhtml" />
</body>
</html>
