<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<!-- Meta data -->
<ui:include src="../../modulos/meta_data.xhtml" />

<h:head>
	<!-- Meta header -->
	<ui:include src="../../modulos/meta_header.xhtml" />
	<title>Turgui | Agregar lugar</title>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXDDbV7QZUJZLQw0Z1pcCeyx284JVweF0"></script>
</h:head>
<body>
	<!-- Menú -->
	<ui:include src="../../modulos/menu_admin.xhtml" />
	<!-- Meta body -->
	<ui:include src="../../modulos/meta_body.xhtml" />

	<div class="turgui-container-dashboard">
		<!-- Sub container -->
		<ui:include src="../../modulos/meta_container.xhtml" />
		<div class="container">
			<p:breadCrumb>
				<p:menuitem value="Inicio" url="#" />
				<p:menuitem value="Lugar" url="lugarlistar.xhtml" />
				<p:menuitem value="Agregar" url="#" />
			</p:breadCrumb>
			<div class="row">
				<div class="col-sm">
					<h1>Agregar Lugar</h1>
					<h:form id="form_crear">
						<div class="form-group">
							<p:outputLabel for="nombre">Nombre</p:outputLabel>
							<p:inputText id="nombre" value="#{beanLugar.lugar.nombre}"
								maxlength="500" required="true"
								requiredMessage="Ingrese un nombre" class="form-control"></p:inputText>
						</div>
						<div class="form-group">
							<p:outputLabel for="direccion">Dirección</p:outputLabel>
							<p:inputText id="direccion" value="#{beanLugar.lugar.direccion}"
								maxlength="100" required="true"
								requiredMessage="Ingrese una dirección" class="form-control"></p:inputText>
						</div>
						<div class="form-group">
							<p:outputLabel for="referencia">Referencia</p:outputLabel>
							<p:inputText id="referencia"
								value="#{beanLugar.lugar.referencia}" maxlength="100"
								required="true" requiredMessage="Ingrese una referencia"
								class="form-control"></p:inputText>
						</div>
						<div class="form-group">
							<p:outputLabel for="codigopostal">Código postal</p:outputLabel>
							<p:inputText id="codigopostal"
								value="#{beanLugar.lugar.codigoPostal}" maxlength="20"
								required="true" requiredMessage="Ingrese un código postal"
								class="form-control"></p:inputText>
						</div>
						<div class="form-group">
							<p:outputLabel for="descripcion-corta">Descripción</p:outputLabel>
							<p:inputTextarea id="descripcion-corta"
								value="#{beanLugar.lugar.descripcion}" required="true"
								requiredMessage="Ingrese una descripción" class="form-control"></p:inputTextarea>
						</div>
						<div class="form-group">
							<p:outputLabel for="descripcion">Descripción corta</p:outputLabel>
							<p:inputTextarea id="descripcion"
								value="#{beanLugar.lugar.descripcionCorta}" required="true"
								maxlength="250" requiredMessage="Ingrese una descripción corta"
								class="form-control"></p:inputTextarea>
						</div>
						<div class="row">
							<div class="col-4">
								<div class="form-group">
									<p:outputLabel for="latitud">Latitud</p:outputLabel>
									<p:inputText id="latitud" value="#{beanLugar.lugar.latitud}"
										maxlength="30" required="true"
										requiredMessage="Ingrese la latitud del lugar"
										class="form-control"></p:inputText>
								</div>
							</div>
							<div class="col-4">
								<div class="form-group">
									<p:outputLabel for="longitud">Longitud</p:outputLabel>
									<p:inputText id="longitud" value="#{beanLugar.lugar.longitud}"
										maxlength="30" required="true"
										requiredMessage="Ingrese la longitud" class="form-control"></p:inputText>
								</div>
							</div>
							<div class="col-4">
								<div class="form-group">
									<p:commandButton id="btn" type="button" icon="pi pi-globe"
										value="Mostrar mapa" onclick="PF('dlg').show();"
										class="btn-block turgui__btn_primary turgui__icon_space" />
									<p:dialog id="gmapDialog" widgetVar="dlg" width="625"
										height="400" modal="true">

										<p:growl id="messages" showDetail="true" life="6000" />
										<p:gmap center="0.3581691302412865, -78.11154842376709"
											zoom="15" type="ROADMAP" style="width:600px;height:400px"
											model="#{beanLugar.modelMapa}" mapTypeControl="true"
											navigationControl="true">
											<p:ajax event="pointSelect"
												listener="#{beanLugar.seleccionPuntoMapa}" update="messages, :form_crear" />
										</p:gmap>

									</p:dialog>
								</div>
							</div>
						</div>


						<div class="form-group">
							<p:outputLabel for="prioridad">Prioridad</p:outputLabel>
							<p:inputNumber id="prioridad"
								value="#{beanLugar.lugar.prioridad}" min="1" required="true"
								requiredMessage="Ingrese un número de prioridad"
								class="form-control"></p:inputNumber>
						</div>
						<div class="form-group">
							<p:outputLabel for="usuario">Usuario</p:outputLabel>
							<p:selectOneMenu id="usuario" class="form-control"
								value="#{beanLugar.idUsuario}">
								<f:selectItems value="#{beanUsuario.listaUsuario}" var="usuario"
									itemLabel="#{usuario.nombres}" itemValue="#{usuario.idUsuario}" />
							</p:selectOneMenu>
						</div>
						<div class="form-group">
							<p:outputLabel for="tipolugar">Tipo de Lugar</p:outputLabel>
							<p:selectOneMenu id="tipolugar" class="form-control"
								value="#{beanLugar.idTipoLugar}" required="true"
								requiredMessage="Seleccione un tipo de lugar">
								<f:selectItems value="#{beanTipoLugar.listaTipoLugar}"
									var="tipolugar" itemLabel="#{tipolugar.nombre}"
									itemValue="#{tipolugar.idTipoLugar}" />
							</p:selectOneMenu>
						</div>
						<div class="form-group">
							<p:outputLabel for="provincia">Provincia</p:outputLabel>
							<p:selectOneMenu id="provincia" class="form-control"
								value="#{beanLugar.idProvincia}" required="true"
								requiredMessage="Seleccione una provincia">
								<f:selectItem itemLabel="SELECCIONAR UNA PROVINCIA" itemValue="" />
								<f:selectItems value="#{beanLugar.listaProvincias}" var="dpa"
									itemLabel="#{dpa.nombre}" itemValue="#{dpa.idDivisionPolitica}" />
								<p:ajax
									listener="#{beanLugar.actionListenerMostrarCantonesPorProvincia()}"
									update="canton" />
							</p:selectOneMenu>
						</div>
						<div class="form-group">
							<p:outputLabel for="canton">Cantón</p:outputLabel>
							<p:selectOneMenu id="canton" class="form-control"
								value="#{beanLugar.idCanton}" required="true"
								requiredMessage="Seleccione un cantón">
								<f:selectItem itemLabel="SELECCIONAR UN CANTON" itemValue="" />
								<f:selectItems value="#{beanLugar.listaCantones}" var="dpa"
									itemLabel="#{dpa.nombre}" itemValue="#{dpa.idDivisionPolitica}" />
								<p:ajax
									listener="#{beanLugar.actionListenerMostrarParroquiasPorCantones()}"
									update="parroquia" />
							</p:selectOneMenu>
						</div>
						<div class="form-group">
							<p:outputLabel for="parroquia">Parroquia</p:outputLabel>
							<p:selectOneMenu id="parroquia" class="form-control"
								value="#{beanLugar.idParroquia}" required="true"
								requiredMessage="Seleccione una parroquia">
								<f:selectItem itemLabel="SELECCIONAR UNA PARROQUIA" itemValue="" />
								<f:selectItems value="#{beanLugar.listaParroquias}" var="dpa"
									itemLabel="#{dpa.nombre}" itemValue="#{dpa.idDivisionPolitica}" />
							</p:selectOneMenu>
						</div>
						<div class="form-group">
							<p:commandButton
								class="btn-block turgui__btn_primary turgui__icon_space"
								value="Guardar" icon="fa fa-save"
								action="#{beanLugar.actionIngresarLugar()}" update="@form" />
						</div>
					</h:form>
				</div>
			</div>
		</div>
		<!-- Container footer -->
		<ui:include src="../../modulos/meta_container_footer.xhtml" />
	</div>

	<!-- Scripts -->
	<ui:include src="../../modulos/meta_scripts.xhtml" />
</body>
</html>
