<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<!-- Meta data -->
<ui:include src="../../modulos/meta_data.xhtml" />

<h:head>
	<!-- Meta header -->
	<ui:include src="../../modulos/meta_header.xhtml" />
	<title>Turgui | Lugares</title>
</h:head>
<body>
	<!-- Menú -->
	<ui:include src="../../modulos/menu_admin.xhtml" />
	<!-- Meta body -->
	<ui:include src="../../modulos/meta_body.xhtml" />
	
	
	<div class="turgui-container-dashboard">
		<!-- Sub container -->
		<ui:include src="../../modulos/meta_container.xhtml" />
		<div class="container">
			<h1 class="mt-4">Datos lugar</h1>

			<h:form id="form-data" class="table">
				<div class="row">
					<div class="col">
						<p:commandButton value="Nuevo"
							class="turgui__btn_primary turgui__icon_space " icon="fa fa-plus"
							action="#{beanLugar.actionIrCrear()}" />
					</div>
				</div>
				<div class="row mt-4">
					<div class="col">
						<div class="table-responsive">
							<!-- Tabla de datos -->
							<p:panel header="Datos Lugar" id="datos">
								<p:dataTable value="#{beanLugar.listaLugar}" var="lugar"
									resizableColumns="true" resizeMode="expand" reflow="true"
									paginator="true" rows="5" class="table">
									<p:column headerText="NOMBRE" filterBy="#{lugar.nombre}"
										filterMatchMode="contains" priority="1">
										<h:outputText value="#{lugar.nombre}"></h:outputText>
									</p:column>
									<p:column headerText="DIRECCIÓN" filterBy="#{lugar.direccion}"
										filterMatchMode="contains" priority="1">
										<h:outputText value="#{lugar.direccion}"></h:outputText>
									</p:column>
									<p:column headerText="REFERENCIA"
										filterBy="#{lugar.referencia}" filterMatchMode="contains"
										priority="1">
										<h:outputText value="#{lugar.referencia}"></h:outputText>
									</p:column>
									<p:column headerText="DESCRIPCIÓN"
										filterBy="#{lugar.descripcion}" filterMatchMode="contains"
										priority="1">
										<h:outputText value="#{lugar.descripcion}"></h:outputText>
									</p:column>
									<p:column headerText="DESCRIPCIÓN CORTA"
										filterBy="#{lugar.descripcionCorta}"
										filterMatchMode="contains" priority="1">
										<h:outputText value="#{lugar.descripcionCorta}"></h:outputText>
									</p:column>
									<p:column headerText="LATITUD" filterBy="#{lugar.latitud}"
										filterMatchMode="contains" priority="1">
										<h:outputText value="#{lugar.latitud}"></h:outputText>
									</p:column>
									<p:column headerText="LONGITUD" filterBy="#{lugar.longitud}"
										filterMatchMode="contains" priority="1">
										<h:outputText value="#{lugar.longitud}"></h:outputText>
									</p:column>
									<p:column headerText="CÓDIGO POSTAL"
										filterBy="#{lugar.codigoPostal}" filterMatchMode="contains"
										priority="1">
										<h:outputText value="#{lugar.codigoPostal}"></h:outputText>
									</p:column>
									<p:column headerText="PRIORIDAD" filterBy="#{lugar.prioridad}"
										filterMatchMode="contains" priority="1">
										<h:outputText value="#{lugar.prioridad}"></h:outputText>
									</p:column>
									<p:column headerText="USUARIO" filterBy="#{lugar.usuUsuario.nombres}"
										filterMatchMode="contains" priority="1">
										<h:outputText value="#{lugar.usuUsuario.nombres}"></h:outputText>
									</p:column>
									<p:column headerText="TIPO" filterBy="#{lugar.lugTipoLugar.nombre}"
										filterMatchMode="contains" priority="1">
										<h:outputText value="#{lugar.lugTipoLugar.nombre}"></h:outputText>
									</p:column>
									<p:column headerText="OPCIONES">
										<p:commandButton class="turgui__btn_info" value="Modificar"
											icon="fa fa-edit"
											action="#{beanLugar.actionIrModificar(lugar)}" update="@form">
										</p:commandButton>
									</p:column>
									<p:column headerText="OPCIONES">
										<p:commandButton class="turgui__btn_danger ml-2"
											value="Eliminar" icon="fa fa-remove"
											actionListener="#{beanLugar.actionListenerCambiarLugar(lugar)}"
											onclick="PF('modal_eliminar').show();">
										</p:commandButton>
									</p:column>
								</p:dataTable>
							</p:panel>
						</div>
					</div>
				</div>
			</h:form>

			<!-- Modal para confirmar la eliminacion de un Registro -->
			<p:dialog header="Confirmación" widgetVar="modal_eliminar"
				modal="true" height="100">
				<h:form id="form_delete">
					<h:outputText value="¿Está seguro de eliminar?" />
					<p:separator />
					<p:commandButton value="Yes" update="@form, :form-data"
						icon="pi pi-check" class="turgui__btn_primary turgui__icon_space "
						onclick="PF('modal_eliminar').hide();"
						actionListener="#{beanLugar.actionListenerEliminarLugar()}" />
					<p:commandButton value="No" type="button"
						class="turgui__btn_danger ml-2"
						onclick="PF('modal_eliminar').hide();" icon="pi pi-times" />

				</h:form>
			</p:dialog>
		</div>
		<!-- Container footer -->
		<ui:include src="../../modulos/meta_container_footer.xhtml" />
	</div>

	<!-- Scripts -->
	<ui:include src="../../modulos/meta_scripts.xhtml" />
</body>
</html>
