<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<!-- Meta data -->
<ui:include src="../../modulos/meta_data.xhtml" />

<h:head>
	<!-- Meta header -->
	<ui:include src="../../modulos/meta_header.xhtml" />
	<title>Turgui | Reportes</title>

</h:head>
<body>
	<!-- Menú -->
	<ui:include src="../../modulos/menu_admin.xhtml" />
	<!-- Meta body -->
	<ui:include src="../../modulos/meta_body.xhtml" />
	
	<div class="turgui-container-dashboard ">
		<!-- Sub container -->
		<ui:include src="../../modulos/meta_container.xhtml" />
		<div class="container">
			<h1>Reportes</h1>
			<div class="row mb-4">
				<!-- Formulario para registrar un nuevo reporte -->
				<div class="col-sm">
					<p:commandButton value="Nuevo"
						class="turgui__btn_primary turgui__icon_space " icon="fa fa-plus"
						onclick="PF('modal_registrar').show();" />
					<p:dialog header="Registrar nuevo reporte"
						widgetVar="modal_registrar" modal="true">
						<h:form id="form_create">
							<div class="form-group">
								<p:outputLabel for="estado">Estado</p:outputLabel>
								<p:selectOneMenu id="estado"
									value="#{beanReporte.idEstadoReporte}" class="form-control"
									required="true" requiredMessage="Seleccione primero un estado">
									<f:selectItems value="#{beanReporte.listaEstadoReporte}"
										var="estado" itemLabel="#{estado.nombre}"
										itemValue="#{estado.idEstadoReporte}"></f:selectItems>
								</p:selectOneMenu>
							</div>
							<div class="form-group">
								<p:outputLabel for="usuario">Usuario</p:outputLabel>
								<p:selectOneMenu id="usuario" value="#{beanReporte.idUsuario}"
									class="form-control" required="true"
									requiredMessage="Seleccione primero un usuario">
									<f:selectItems value="#{beanReporte.listaUsuarios}"
										var="usuario" itemLabel="#{usuario.nombres}"
										itemValue="#{usuario.idUsuario}"></f:selectItems>
								</p:selectOneMenu>
							</div>
							<div class="form-group">
								<p:outputLabel for="lugar">Lugar</p:outputLabel>
								<p:selectOneMenu id="lugar" value="#{beanReporte.idLugar}"
									class="form-control" required="true"
									requiredMessage="Seleccione primero un lugar">
									<f:selectItems value="#{beanReporte.listaLugar}" var="lugar"
										itemLabel="#{lugar.nombre}" itemValue="#{lugar.idLugar}"></f:selectItems>
								</p:selectOneMenu>
							</div>
							<div class="form-group">
								<p:outputLabel for="observacion">Observación</p:outputLabel>
								<p:inputTextarea id="observacion"
									value="#{beanReporte.reporte.observacion}" required="true"
									requiredMessage="Ingrese su observación" class="form-control"></p:inputTextarea>
							</div>
							<p:commandButton
								class="turgui__btn_primary turgui__icon_space btn-block"
								value="Guardar" icon="fa fa-save" update="@form, :form-data"
								onclick="PF('modal_registrar').hide();"
								actionListener="#{beanReporte.actionIngresarReporte()}" />
						</h:form>
					</p:dialog>
				</div>
			</div>

			<!-- Tabla de datos -->
			<h:form id="form-data">
				<p:panel header="Datos de los reportes" id="datos">
					<p:dataTable value="#{beanReporte.listaReportes}"
						resizableColumns="true" resizeMode="expand" var="reporte"
						reflow="true" paginator="true" rows="5">
						<p:column headerText="OBSERVACIÓN"
							filterBy="#{reporte.observacion}" filterMatchMode="contains"
							priority="1">
							<h:outputText value="#{reporte.observacion}"></h:outputText>
						</p:column>
						<p:column headerText="ESTADO"
							filterBy="#{reporte.lugEstadoReporte.nombre}"
							filterMatchMode="contains" priority="1">
							<h:outputText value="#{reporte.lugEstadoReporte.nombre}"></h:outputText>
						</p:column>
						<p:column headerText="USUARIO"
							filterBy="#{reporte.usuUsuario.nombres}"
							filterMatchMode="contains" priority="1">
							<h:outputText value="#{reporte.usuUsuario.nombres}"></h:outputText>
						</p:column>
						<p:column headerText="LUGAR" filterBy="#{reporte.lugLugar.nombre}"
							filterMatchMode="contains" priority="1">
							<h:outputText value="#{reporte.lugLugar.nombre}"></h:outputText>
						</p:column>
						<p:column headerText="OPCIONES">
							<div class="col-sm">
								<div class="d-flex justify-content-around">
									<p:commandButton class="turgui__btn_info" value="Modificar"
										icon="fa fa-edit"
										actionListener="#{beanReporte.actionListenerCambiarReporte(reporte)}"
										onclick="PF('modal_modificar').show();"
										update="@form, :form_modificar">
									</p:commandButton>
								</div>
							</div>
						</p:column>
						<p:column headerText="OPCIONES">
							<div class="col-sm">
								<div class="d-flex justify-content-around">
									<p:commandButton class="turgui__btn_danger ml-2"
										value="Eliminar" icon="fa fa-remove"
										actionListener="#{beanReporte.actionListenerCambiarReporte(reporte)}"
										onclick="PF('modal_eliminar').show();">
									</p:commandButton>
								</div>
							</div>
						</p:column>
					</p:dataTable>
				</p:panel>
			</h:form>


			<!-- Modal para confirmar la eliminacion de un Registro -->
			<p:dialog header="Confirmación" widgetVar="modal_eliminar"
				modal="true" height="100">
				<h:form id="form_delete">
					<h:outputText value="¿Está seguro de eliminar?" />
					<p:separator />
					<p:commandButton value="Yes" update="@form, :form-data"
						icon="pi pi-check" class="turgui__btn_primary turgui__icon_space "
						onclick="PF('modal_eliminar').hide();"
						actionListener="#{beanReporte.actionListenerEliminarReporte()}" />
					<p:commandButton value="No" type="button"
						class="turgui__btn_danger ml-2"
						onclick="PF('modal_eliminar').hide();" icon="pi pi-times" />

				</h:form>
			</p:dialog>


			<!-- Formulario para editar un Registro -->
			<div class="col-sm">
				<p:dialog header="Modificar reporte" widgetVar="modal_modificar"
					modal="true">
					<h:form id="form_modificar">
						<div class="form-group">
							<p:outputLabel for="estado">Estado</p:outputLabel>
							<p:selectOneMenu id="estado"
								value="#{beanReporte.idEstadoReporte}" class="form-control"
								required="true" requiredMessage="Seleccione primero un estado">
								<f:selectItems value="#{beanReporte.listaEstadoReporte}"
									var="estado" itemLabel="#{estado.nombre}"
									itemValue="#{estado.idEstadoReporte}"></f:selectItems>
							</p:selectOneMenu>
						</div>
						<div class="form-group">
							<p:outputLabel for="usuario">Usuario</p:outputLabel>
							<p:selectOneMenu id="usuario" value="#{beanReporte.idUsuario}"
								class="form-control" required="true"
								requiredMessage="Seleccione primero un usuario">
								<f:selectItems value="#{beanReporte.listaUsuarios}"
									var="usuario" itemLabel="#{usuario.nombres}"
									itemValue="#{usuario.idUsuario}"></f:selectItems>
							</p:selectOneMenu>
						</div>
						<div class="form-group">
							<p:outputLabel for="lugar">Lugar</p:outputLabel>
							<p:selectOneMenu id="lugar" value="#{beanReporte.idLugar}"
								class="form-control" required="true"
								requiredMessage="Seleccione primero un lugar">
								<f:selectItems value="#{beanReporte.listaLugar}" var="lugar"
									itemLabel="#{lugar.nombre}" itemValue="#{lugar.idLugar}"></f:selectItems>
							</p:selectOneMenu>
						</div>
						<div class="form-group">
							<p:outputLabel for="observacion">Observación</p:outputLabel>
							<p:inputTextarea id="observacion"
								value="#{beanReporte.reporte.observacion}" required="true"
								requiredMessage="Ingrese su observación" class="form-control"></p:inputTextarea>
						</div>
						<p:commandButton
							class="turgui__btn_primary turgui__icon_space btn-block"
							value="Guardar" icon="fa fa-save" update="@form, :form-data"
							onclick="PF('modal_modificar').hide();"
							actionListener="#{beanReporte.actionListenerActualizarReporte()}" />
					</h:form>
				</p:dialog>
			</div>
		</div>
		<!-- Container footer -->
		<ui:include src="../../modulos/meta_container_footer.xhtml" />
	</div>

	<!-- Scripts -->
	<ui:include src="../../modulos/meta_scripts.xhtml" />
</body>
</html>
