<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<!-- Meta data -->
<ui:include src="../modulos/meta_data.xhtml" />

<h:head>
	<!-- Meta header -->
	<ui:include src="../modulos/menu_header_level_one.xhtml" />
	<title>Turgui | Super Administrador</title>
</h:head>
<body>
	<div class="nav-side-menu turgui-no-margin">
		<div class="brand">Menú</div>
		<i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse"
			data-target="#menu-content"></i>

		<div class="menu-list">
			<ul id="menu-content" class="menu-content collapse out">
				<li><a href=""> <i class="pi pi-home fa-lg"></i> Inicio
				</a></li>

				<li data-toggle="collapse" data-target="#service" class="collapsed">
					<a href="#" class="turgui-no-redirect"><i
						class="fa fa-users fa-lg"></i> Usuarios <span class="arrow"></span></a>
				</li>
				<ul class="sub-menu collapse" id="service">
					<li><a href="usuUsuario/registroRol.xhtml">Roles</a></li>
					<li><a href="usuUsuario/registroUsuario.xhtml">Usuarios</a></li>
					<li><a href="usuUsuario/usuarioRol.xhtml">Asignación Roles</a></li>
				</ul>

				<li><a href="usuUsuario/nacionalidad.xhtml"> <i
						class="fa fa-flag fa-lg"></i> Nacionalidad
				</a></li>

				<li><a href="usuUsuario/reporteBitacora.xhtml"> <i
						class="fa fa-file-text fa-lg"></i> Bitácora
				</a></li>

				<li class="bottom-menu"><h:form>
						<p:commandButton action="#{beanLogin.actionCerrarSesion()}"
							icon="pi pi-sign-out" class="turgui-btn-sign-out"
							value="Cerrar sesión"></p:commandButton>
					</h:form></li>
			</ul>
		</div>
	</div>
	<!-- Meta body -->
	<ui:include src="../modulos/meta_body.xhtml" />

	<div class="turgui-container-dashboard ">
		<!-- Sub container -->
		<ui:include src="../modulos/meta_container.xhtml" />
		<div class="container">
			<div class="row mb-3">
				<div class="col-xl-3 col-sm-6 py-2">
					<div class="card bg-success text-white h-100">
						<div class="card-body bg-success">
							<div class="rotate">
								<i class="fa fa-user fa-4x"></i>
							</div>
							<h6 class="text-uppercase">Usuarios</h6>
							<h1 class="display-4">
								<h:outputText value="#{beanMultimedia.numeroUsuario}" />
							</h1>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-sm-6 py-2">
					<div class="card text-white bg-danger h-100">
						<div class="card-body bg-danger">
							<div class="rotate">
								<i class="fa fa-globe fa-4x"></i>
							</div>
							<h6 class="text-uppercase">Lugares</h6>
							<h1 class="display-4">
								<h:outputText value="#{beanMultimedia.numeroLugares}" />
							</h1>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-sm-6 py-2">
					<div class="card text-white bg-info h-100">
						<div class="card-body bg-info">
							<div class="rotate">
								<i class="fa fa-line-chart fa-4x"></i>
							</div>
							<h6 class="text-uppercase">Tipo de Lugares</h6>
							<h1 class="display-4">
								<h:outputText value="#{beanMultimedia.numeroTipoLugares}" />
							</h1>
						</div>
					</div>
				</div>
				<div class="col-xl-3 col-sm-6 py-2">
					<div class="card text-white bg-warning h-100">
						<div class="card-body">
							<div class="rotate">
								<i class="fa fa-file-image-o fa-4x"></i>
							</div>
							<h6 class="text-uppercase">Tipo de Archivo</h6>
							<h1 class="display-4">
								<h:outputText value="#{beanMultimedia.numeroTipoArchivo}" />
							</h1>
						</div>
					</div>
				</div>
			</div>

			<!-- Container footer -->
			<ui:include src="../modulos/meta_container_footer.xhtml" />
		</div>
	</div>

	<!-- Scripts -->
	<ui:include src="../modulos/meta_scripts_level_one.xhtml" />
</body>
</html>
