:root {
	--color-primary: #42b883;
	--color-danger: #ff7e67;
	--color-info: #35495e;
	--color-secondary: #347474;
	--color-black: #161616;
	--color-grey: hsla(153, 10%, 90%, 1);
	--color-grey-pure: #9e9e9e;
	--color-grey-darken: #455a64;
}

/* COLORS */

.turgui-color_amber {
	color: #ffc107 ;
}

.turgui-color_grey {
	color: #bdbdbd ;
}

.turgui-color_grey.darken {
	color: #212121;
}

.turgui-color_grey.accent {
	color: var(--color-grey-pure);
}

.turgui-color_black {
	color: var(--color-black);
}

.turgui-color_green {
	color: #42b883;
}

.turgui-color_red {
	color: #ff7e67;
}

.turgui-color_blue {
	color: #347474;
}

.turgui-color_blue.darken {
	color: #35495e;
}

.turgui-color_blue.accent {
	color: var(--color-grey-darken);
}

.turgui-bg_amber {
	background-color: #ffc107 ;
}

.turgui-bg_grey {
	background-color: #bdbdbd ;
}

.turgui-bg_black {
	background-color: var(--color-black);
}

.turgui-bg_green {
	background-color: #42b883;
}

.turgui-bg_red {
	background-color: #ff7e67;
}

.turgui-bg_blue {
	background-color: #347474;
}

.turgui-bg_blue.darken {
	background-color: #35495e;
}

.turgui-bg-secondary {
	background-color: var(--color-secondary);
}

.turgui-btn-primary {
	background-color: var(--color-primary);
	border: 1px solid var(--color-primary);
}

/* BUTTONS */

button.turgui-btn-info {
	background-color: var(--color-info);
	border: 1px solid var(--color-info);
}

button.turgui__btn_info.ui-state-hover {
	background-color: hsla(211, 28%, 20%, 1);
	border-color: hsla(211, 28%, 20%, 1);
}

button.turgui__btn_info.ui-state-active {
	background-color: hsla(211, 28%, 15%, 1);
	border-color: hsla(211, 28%, 15%, 1);
	
}

button.turgui-btn-info_outline {
	background-color: white;
	border: 1px solid var(--color-info);
	color: var(--color-info);
}

button.turgui-btn-info_outline:hover {
	background-color: var(--color-info);
	color: white;
}

button.turgui__btn_primary {
	background-color: var(--color-primary);
	border: 1px solid var(--color-primary);
	padding-left: 8px;
}

button.turgui__btn_danger {
	background-color: var(--color-danger);
	border: 1px solid var(--color-danger);
	padding-left: 8px;
}

button.turgui__btn_danger.ui-state-hover {
	background-color: hsla(9, 100%, 65%, 1);
	border-color: hsla(9, 100%, 65%, 1);
}

button.turgui__btn_danger.ui-state-active {
	background-color: hsla(9, 100%, 60%, 1);
	border-color: hsla(9, 100%, 60%, 1);
	
}

button.turgui__btn_info {
	background-color: var(--color-info);
	border: 1px solid var(--color-info);
	padding-left: 8px;
}

@media (min-width: 992px) {
	.navbar-dark .navbar-nav .nav-link.turgui-right-line {
		border-right: 1px solid white;
	    padding-right: 15px;
	    margin-right: 15px;
	}	
}

.turgui-flex {
	display: flex;
}

.turgui-flex__align-items_center {
	align-items: center;
}

.turgui-flex__justify-content_center {
	justify-content: center;	
}

.turgui-box-shadow {
	box-shadow: 0 4px 6px hsla(0, 0%, 80%, 0.7), 0 5px 15px hsla(0, 0%, 80%, 0.1);
}

.turgui-contact p {
	margin-bottom: 0;
}

.turgui-page-section {
  	padding: 8rem 0;
	/*margin-top: 60px;*/
    /*margin-bottom: 70px;*/
}

.turgui-contact-section .social {
  margin-top: 5rem;
}

.turgui-contact-section .social a {
  text-align: center;
  height: 3rem;
  width: 3rem;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  line-height: 3rem;
  color: rgba(0, 0, 0, 0.4);
}

.turgui-contact-section .social a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.turgui-contact-section .social a:active {
  color: #fff;
}

/* Landing section map */
.turgui-cta {
  position: relative;
  padding: 250px 0;
  background-position: center;
  background-size: cover;
}

.turgui-cta .cta-content {
  position: relative;
  z-index: 1;
}

.turgui-cta .cta-content h2 {
  font-size: 50px;
  max-width: 450px;
  margin-top: 0;
  margin-bottom: 25px;
  color: white;
}

@media (min-width: 768px) {
  section.cta .cta-content h2 {
    font-size: 80px;
  }
}

.turgui-cta .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.turgui-btn-outline {
  color: white;
  border: 1px solid;
  border-color: white;
}

.turgui-btn-outline:hover, 
.turgui-btn-outline:focus, 
.turgui-btn-outline:active, 
.turgui-btn-outline.active {
  color: #fffbc4;
  border-color: #fdcc52;
  background-color: #fdcc52;
  text-decoration: none;
}

.turgui-btn {
  border-radius: 300px;
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 700;
}

.turgui-btn-xl {
  font-size: 11px;
  padding: 15px 45px;
}

/* CAROUSEL */
.turgui-carousel {
	max-height: calc(100vh - 58px);
    overflow: hidden;
}

.turgui-carousel.turgui-carousel__half {
	max-height: calc(80vh - 58px);
}

.turgui-carousel__img {
	min-height: calc(100vh - 58px);
	max-height: calc(100vh - 58px);
    overflow: hidden;
    background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.turgui-carousel__caption h5, 
.turgui-carousel__caption p {
	text-shadow: 0 0 10px hsl(0, 0%, 0%);
}

/* TURGUI-CARD */
.turgui-card__title {
	text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.turgui-card__stars {
	font-size: 1.5rem;
}
body .turgui-icon-star {
	font-size: 1.5rem;
}
.turgui-card__img {
	height: 180px;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

/* DASHBOARD */
.turgui-container-dashboard {
	width: calc(100vw - 180px);
	height: 100vh;
	overflow: auto;
	position: relative;
	left: 180px;
}
nav.main-menu {
	height: calc(100vh - 58px);
}

.turgui-menu-height {
	height: calc(100vh - 58px);
}
@media (max-width: 767px) {
	.turgui-container-dashboard {
		width: 100vw;
		height: calc(100vh - 50px);
		left: 0;
	}
}
/* auxiliares */
.turgui-no-margin {
	margin: 0 !important;
}

.turgui-h100 {
	height: 100vh;
}
/* -------------- REEMPLAZANDO LAS LIBRERIAS ----------------- */
/* -------------- [BOTSTRAP] ----------------- */
.navbar {
	z-index: 1001;
}
.nav-item {
	font-weight: bold;
    font-size: 0.95em;
}
.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,1);
}
.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
/* -------------- [PRIMEFACES] ----------------- */

body .ui-inputfield {
	background-color: white;
}

body .ui-inputnumber {
	padding: 0;
}

body .ui-datepicker:not(.ui-datepicker-inline) {
	background-color: white;
}

body .ui-datepicker .ui-datepicker-calendar td a,
body .ui-datepicker .ui-datepicker-title,
body .ui-datepicker:not(.ui-datepicker-inline),
body .ui-inputfield {
	color: #545454;
	border-color: var(--color-secondary);
}

body .ui-datepicker .ui-datepicker-calendar td a:hover {
	background-color: var(--color-primary);
	color: white;
}

body .ui-inputfield[id*="_input"] {
	width: 100%;
}

body .ui-state-hover {
	border-color: var(--color-secondary);
}

/* BREADCRUMB */
body .ui-breadcrumb {
	background-color: white;
    border-color: white;
}

.ui-breadcrumb ul {
	background-color: white;
}

body .ui-breadcrumb ul li:first-child a.ui-icon-home {
	color: var(--color-grey-darken);
}

body .ui-breadcrumb ul li.ui-breadcrumb-chevron {
	color: var(--color-grey-darken);
}

body .ui-breadcrumb ul li .ui-menuitem-link {
	color: var(--color-grey-pure);
}

body .ui-breadcrumb ul li .ui-menuitem-link:focus {
	background-color: #eeeeec;
}

/* SELECT */

body .ui-selectonemenu-panel {
	background-color: white;
}

body .ui-selectonemenu .ui-selectonemenu-trigger {
	background-color: white;
}

body .ui-selectonemenu-panel .ui-selectonemenu-items .ui-selectonemenu-item {
	background-color: white;
	color: var(--color-black);
}

body .ui-selectonemenu-panel .ui-selectonemenu-items .ui-selectonemenu-item.ui-state-hover {
	background-color: var(--color-grey);
	color: var(--color-black);
}

.ui-selectonemenu.form-control .ui-selectonemenu-label {
    position: relative;
    top: -6px;
    left: -12px;
}

body .ui-selectonemenu-panel .ui-selectonemenu-filter-container {
	background-color: white;
	width: 100%;
}

/* TREETABLE */
body .ui-treetable thead th {
	background-color: var(--color-grey);
}

body .ui-treetable .ui-treetable-data>tr {
	background-color: white;
}

body .ui-treetable thead th,
body .ui-treetable .ui-treetable-data>tr {
	color: var(--color-black);
	border-color: var(--color-secondary);
}
/* PANELGRID */
body .ui-panelgrid .ui-panelgrid-cell {
	background-color: white;
	color: var(--color-black);
	border-color: var(--color-secondary); 
}


/* DATATABLE */

body .ui-panel .ui-panel-titlebar {
	background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: white;
}

body .ui-datatable .ui-datatable-data>tr>td,
body .ui-datatable .ui-datatable-data>tr.ui-datatable-even,
body .ui-datatable .ui-datatable-data>tr.ui-datatable-odd {
    background-color: white;
    color: var(--color-black);
    border-color: var(--color-secondary);
}

body .ui-datatable thead th,
body .ui-paginator {
	background-color: var(--color-grey);
	color: var(--color-black);
	border-color: var(--color-secondary);
}

body .ui-paginator .ui-paginator-first, 
body .ui-paginator .ui-paginator-prev, 
body .ui-paginator .ui-paginator-next, 
body .ui-paginator .ui-paginator-last {
	color: var(--color-black);
}

body .ui-panel .ui-panel-content {
	background-color: white;
	border-color: var(--color-secondary);
}

/* MODAL */
body .ui-dialog .ui-dialog-titlebar {
	background-color: var(--color-primary);
    color: white;
    border-color: var(--color-primary);
}

body .ui-dialog .ui-dialog-content {
	background-color: white;
    border-color: var(--color-primary);
    color: var(--color-black);
}

body .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon {
	color: #424242;
}

body .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon .ui-icon-closethick {
	color: white;
}

/* PANEL */
body .ui-panel .ui-panel-content {
	color: var(--color-black);
}
