<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<!-- Meta header -->
	<ui:include src="../modulos/meta_header_visitante.xhtml" />
	<title>Turgui | Inicio</title>
</h:head>
<body>
	<!-- Menu -->
	<ui:include src="../modulos/menu_visitante.xhtml" />

	<!-- CAROUSEL - TOP 3 -->
	<div id="carouselExampleIndicators"
		class="carousel slide turgui-carousel" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carouselExampleIndicators" data-slide-to="0"
				class="active"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<!-- 	      <img class="d-block w-100 turgui-carousel-img" src="https://images.pexels.com/photos/3576265/pexels-photo-3576265.jpeg" alt="First slide" /> -->
				<div class="d-block w-100 turgui-carousel__img"
					style="background-image: url('https://images.pexels.com/photos/3576265/pexels-photo-3576265.jpeg')"></div>
				<div
					class="carousel-caption d-none d-md-block turgui-carousel__caption">
					<h5>Man walking under yellow string lights</h5>
					<p>A holistic view</p>
				</div>
			</div>
			<div class="carousel-item">
				<div class="d-block w-100 turgui-carousel__img"
					style="background-image: url('https://cdn.pixabay.com/photo/2020/01/06/03/51/lighthouse-4744502_960_720.jpg')"></div>
				<div
					class="carousel-caption d-none d-md-block turgui-carousel__caption">
					<h5>Faro al final del camino</h5>
					<p>Este faro es uno de los puntos más dentro al mar del
						contienente</p>
				</div>
			</div>
			<div class="carousel-item">
				<div class="d-block w-100 turgui-carousel__img"
					style="background-image: url('https://cdn.pixabay.com/photo/2020/01/14/21/48/norway-4766392_960_720.jpg')"></div>
				<div
					class="carousel-caption d-none d-md-block turgui-carousel__caption">
					<h5>Bergen</h5>
					<p>La colorida arquitectura de Bergen en Noruega</p>
				</div>
			</div>
		</div>
		<a class="carousel-control-prev" href="#carouselExampleIndicators"
			role="button" data-slide="prev"> <span
			class="carousel-control-prev-icon" aria-hidden="true"></span> <span
			class="sr-only">Previous</span>
		</a> <a class="carousel-control-next" href="#carouselExampleIndicators"
			role="button" data-slide="next"> <span
			class="carousel-control-next-icon" aria-hidden="true"></span> <span
			class="sr-only">Next</span>
		</a>
	</div>

	<!-- About Section -->
	<section class="turgui-page-section">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6">
				<h3 class="mt-0 font-weight-bold">Llega a tu destino fácilmente</h3>
				<hr class="divider my-4" />
				<p class="mb-4">Start Bootstrap has everything you need to get
					your new website up and running in no time! Choose one of our open
					source, free to download, and easy to use themes! No strings
					attached!</p>
			</div>
			<div class="col-lg-6">
				<h3 class="mt-0 font-weight-bold">Respaldado por la comunidad</h3>
				<hr class="divider my-4" />
				<p class="mb-4">Start Bootstrap has everything you need to get
					your new website up and running in no time! Choose one of our open
					source, free to download, and easy to use themes! No strings
					attached!</p>
			</div>
		</div>
	</div>
	</section>
	
	<section class="py-5">
	<div class="container">
		<div class="row mt-4">
			<div class="col-lg-12">
				<h1 class="font-weight-bold">Destinos que te pueden interesar</h1>
			</div>
			<ui:repeat value="#{beanVisLugares.listaLugares}" var="lugar"
					varstatus="loop">

					<div class="col-lg-4 col-md-6 d-flex justify-content-center">
						<a class="text-decoration-none" href="lugar.xhtml?id=#{lugar.idLugar}">
							<div class="card turgui-card turgui-box-shadow mt-4"
								style="width: 18rem;">
								<div class="turgui-card__img"
									style="background-image: url('/turguiWeb/faces/LeerImagen?codigo=#{lugar.idLugar}')"></div>
								<div class="card-body">
									<h5 class="card-title turgui-card__title turgui-color_black"
										data-toggle="tooltip" data-placement="top"
										title="Laguna de Yukihira">#{lugar.nombre}</h5>
									<div class="turgui-card__stars">
										<ui:repeat begin="1" end="#{lugar.calificacionPromedio}">
											<i class="pi pi-star turgui-color_amber turgui-icon-star"></i>
										</ui:repeat>
										<ui:repeat begin="1" end="#{5-lugar.calificacionPromedio}">
											<i class="pi pi-star turgui-color_grey turgui-icon-star"></i>
										</ui:repeat>
									</div>

								</div>
							</div>
						</a>
					</div>

				</ui:repeat>
		</div>
	</div>
	</section>
	
	<!-- Sección Maps -->
	<section class="turgui-cta" style="background-image: url('https://images.pexels.com/photos/3243090/pexels-photo-3243090.jpeg');">
    <div class="cta-content">
      <div class="container">
        <h2>Nunca te detengas.<br />Siempre tendrás una guía.</h2>
        <a href="#" class="turgui-btn turgui-btn-outline turgui-btn-xl">¡Empecemos!</a>
      </div>
    </div>
    <div class="overlay"></div>
  </section>
	
	
	<!-- Social Networks -->
	<section class="turgui-contact-section">
	<div class="social d-flex justify-content-center">
		<a href="#" class="mx-2"> 
			<i class="fa fa-twitter"></i>
		</a> 
		<a href="#" class="mx-2"> 
			<i class="fa fa-facebook-f"></i>
		</a> 
		<a href="#" class="mx-2"> 
			<i class="fa fa-github"></i>
		</a>
	</div>
	</section>

	<!-- Footer -->
	<footer class="bg-light py-5">
	<div class="container">
		<div class="small text-center text-muted">Copyright &copy; 2020
			- Turgui</div>
	</div>
	</footer>

	<!-- Scripts -->
	<ui:include src="../modulos/meta_scripts_visitante.xhtml" />
</body>
</html>
