<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">


<f:metadata>
	<f:viewParam name="one" value="#{beanVisLugar.buscador(param['id'])}" />
</f:metadata>

<h:head>
	<!-- Meta header -->
	<ui:include src="../modulos/meta_header_visitante.xhtml" />
	<title>Turgui | Lugar</title>
</h:head>
<body>
	<!-- Menu -->
	<ui:include src="../modulos/menu_visitante.xhtml" />
	<ui:include src="../modulos/meta_body.xhtml" />
	<!-- CAROUSEL -->
	<div id="carouselExampleIndicators"
		class="carousel slide turgui-carousel turgui-carousel__half"
		data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carouselExampleIndicators" data-slide-to="0"
				class="active"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner">
			<ui:repeat id="carrusel" var="imagen" value="#{beanVisLugar.lugar.mulMultimedias}">
				<div class="carousel-item active">
					<div class="d-block w-100 turgui-carousel__img"
						style="background-image: url('#{imagen.direccion}')"></div>
					<div
						class="carousel-caption d-none d-md-block turgui-carousel__caption">
						<h5>#{imagen.nombre}</h5>
						<p>#{imagen.descripcionCorta}</p>
					</div>
				</div>
			</ui:repeat>
		</div>
		<a class="carousel-control-prev" href="#carouselExampleIndicators"
			role="button" data-slide="prev"> <span
			class="carousel-control-prev-icon" aria-hidden="true"></span> <span
			class="sr-only">Previous</span>
		</a> <a class="carousel-control-next" href="#carouselExampleIndicators"
			role="button" data-slide="next"> <span
			class="carousel-control-next-icon" aria-hidden="true"></span> <span
			class="sr-only">Next</span>
		</a>
	</div>

	<div class="container mt-5">
		<h2 class="turgui-color_blue accent">Descripción</h2>
		<p>#{beanVisLugar.lugar.descripcion}</p>
		<h2 class="mt-4 turgui-color_blue accent">Dirección</h2>
		<p>#{beanVisLugar.lugar.direccion}
			#{beanVisLugar.lugar.referencia}</p>
		<h2 class="mt-4 turgui-color_blue accent">Contactos</h2>
		<ui:repeat id="contactos" var="contacto" value="#{beanVisLugar.lugar.lugContactos}">
			<div class="well turgui-contact">
				<p>
					<span class="turgui-color_blue darken">Correo electrónico:</span> #{contacto.correo}
				</p>
				<p>
					<span class="turgui-color_blue darken">Teléfono:</span> #{contacto.telefono}
				</p>
				<p>
					<span class="turgui-color_blue darken">Celular:</span> #{contacto.celular}
				</p>
				<div class="divider"></div>
			</div>
		</ui:repeat>
	</div>

	<section>
		<h2 class="py-3 turgui-color_blue accent">Mapa</h2>
		<img
			src="https://risanb.com/static/bdf9f639e5b00eccb3dd469bb2cbb844/e735c/default-marker.jpg" class="img-fluid" />
	</section>
	<ui:include src="../modulos/meta_container_footer.xhtml" />
</body>
</html>
