<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<!-- Meta header -->
	<ui:include src="../modulos/meta_header_visitante.xhtml" />
	<title>Turgui | Lugares</title>
</h:head>
<body>
	<!-- Menu -->
	<ui:include src="../modulos/menu_visitante.xhtml" />
	<h:form>
		<section class="py-5">
		<div class="container">
			<div class="row mt-4">
				<div class="col-lg-12">
					<h1 class="font-weight-bold">Lagos</h1>
				</div>
				<ui:repeat value="#{beanVisLugares.listaLugares}" var="lugar"
					varstatus="loop">

					<div class="col-lg-4 col-md-6 d-flex justify-content-center">
						<a class="text-decoration-none" href="lugar.xhtml?id=#{lugar.idLugar}">
							<div class="card turgui-card turgui-box-shadow mt-4"
								style="width: 18rem;">
								<div class="turgui-card__img"
									style="background-image: url('#{lugar.imagenPortada}')"></div>
								<div class="card-body">
									<h5 class="card-title turgui-card__title turgui-color_black"
										data-toggle="tooltip" data-placement="top"
										title="Laguna de Yukihira">#{lugar.nombre}</h5>
									<div class="turgui-card__stars">
										<ui:repeat begin="1" end="#{lugar.calificacionPromedio}">
											<i class="pi pi-star turgui-color_amber turgui-icon-star"></i>
										</ui:repeat>
										<ui:repeat begin="1" end="#{5-lugar.calificacionPromedio}">
											<i class="pi pi-star turgui-color_grey turgui-icon-star"></i>
										</ui:repeat>
									</div>

								</div>
							</div>
						</a>
					</div>

				</ui:repeat>
			</div>
		</div>
		</section>
	</h:form>

	<!-- Scripts -->
	<ui:include src="../modulos/meta_scripts_visitante.xhtml" />
</body>
</html>
