<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<link rel="stylesheet" href="../../resources/css/bootstrap.min.css" />
	<link href="../../resources/css/styles.css" rel="stylesheet"
		type="text/css" />
	<!-- icons -->
	<link rel="apple-touch-icon" sizes="180x180"
		href="../../resources/icon/apple-touch-icon.png" />
	<link rel="icon" type="image/png" sizes="32x32"
		href="../../resources/icon/favicon-32x32.png" />
	<link rel="icon" type="image/png" sizes="16x16"
		href="../../resources/icon/favicon-16x16.png" />
	<link rel="manifest" href="../../resources/icon/site.webmanifest" />
	<link rel="mask-icon" href="../../resources/icon/safari-pinned-tab.svg"
		color="#5bbad5" />
	<link rel="shortcut icon" href="../../resources/icon/favicon.ico" />
	<meta name="apple-mobile-web-app-title" content="Turgui" />
	<meta name="application-name" content="Turgui" />
	<meta name="msapplication-TileColor" content="#da532c" />
	<meta name="msapplication-config"
		content="../../resources/icon/browserconfig.xml" />
	<meta name="theme-color" content="#ffffff" />
	<title>Turgui | Contraseña</title>
</h:head>
<body>


	<div
		class="turgui-flex turgui-flex__align-items_center turgui-flex__justify-content_center turgui-menu-height">
		<h:form>
			<p:panel header="Turgui | Recuperar">
				<h:panelGrid columns="2">
					<h:outputText value="Digite Su Nueva Contraseña:" />
					<p:inputText value="#{beanLogin.contrasenia}" required="true"
						requiredMessage="Debe ingresar su codigo de usuario."
						class="form-control" />
					<p:commandButton value="Recuperar Contraseña" icon="fa fa-key"
						action="#{beanLogin.actionCambiarContrasena()}" />

				</h:panelGrid>
			</p:panel>
		</h:form>
	</div>
</body>
</html>
