
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<!-- Meta data -->
<ui:include src="../../modulos/meta_data.xhtml" />

<h:head>
	<!-- Meta header -->
	<ui:include src="../../modulos/meta_header.xhtml" />
	<title>Turgui | Usuarios</title>
</h:head>
<body>
	<!-- Menú -->
	<ui:include src="../../modulos/menu_superadmin.xhtml" />
	<!-- Meta body -->
	<ui:include src="../../modulos/meta_body.xhtml" />

	<div class="turgui-container-dashboard ">
		<!-- Sub container -->
		<ui:include src="../../modulos/meta_container.xhtml" />
		<div class="container">
			<h1 class="py-2">Usuarios</h1>
			<div class="row">
				<!-- Formulario para registrar un nuevo Tipo de Archivo -->
				<div class="col-sm">
					<p:commandButton value="Agregar Usuario" type="button"
						class="turgui__btn_primary turgui__icon_space " icon="fa fa-plus"
						onclick="PF('modal_registrar').show();" />


					<br /> <br />

					<h:form>
						<p:commandButton value="Imprimir" ajax="false"
							class="turgui__btn_primary turgui__icon_space "
							icon="fa fa-print" action="#{beanJasper.actionReporteUsuarios()}"></p:commandButton>
					</h:form>
					<p:dialog header="Registrar nuevo Tipo de Archivo"
						widgetVar="modal_registrar" modal="true" width="550">
						<h:form id="form_create">
							<div class="row">
								<div class="col-6">
									<div class="form-group">
										<p:outputLabel for="nombre">Nombre:</p:outputLabel>
										<p:inputText id="nombre" class="form-control"
											value="#{beanUsuario.usuario.nombres}" required="true"
											requiredMessage="Debe ingresar el nombre del Usuario"
											validatorMessage="Solo se permite letras - Dato de Nombre No ingresado ">
											<f:validateRegex
												pattern="[ A-Za-zäÄëËïÏöÖüÜáéíóúáéíóúÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙ.-]+"></f:validateRegex>
										</p:inputText>
									</div>
								</div>
								<div class="col-6">
									<div class="form-group">
										<p:outputLabel>Apellidos:</p:outputLabel>
										<p:inputText class="form-control"
											value="#{beanUsuario.usuario.apellidos}" required="true"
											requiredMessage="Debe ingresar el apellido del Usuario"
											validatorMessage="Solo se permite letras - Dato de Apellido No ingresado ">
											<f:validateRegex
												pattern="[ A-Za-zäÄëËïÏöÖüÜáéíóúáéíóúÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙ.-]+"></f:validateRegex>
										</p:inputText>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-6">
									<div class="form-group">
										<p:outputLabel>Correo electronico:</p:outputLabel>
										<p:inputText class="form-control"
											value="#{beanUsuario.usuario.correo}" required="true"
											requiredMessage="Debe ingresar el correo electronico"></p:inputText>
									</div>
								</div>
								<div class="col-6">
									<div class="form-group">
										<p:outputLabel>Contrasenia:</p:outputLabel>
										<p:password class="form-control"
											value="#{beanUsuario.usuario.contrasenia}" required="true"
											requiredMessage="Debe ingresar el password" />
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-6">
									<div class="form-group">
										<p:outputLabel>Sexo:</p:outputLabel>
										<p:selectOneMenu value="#{beanUsuario.usuario.sexo}"
											class="form-control" filter="true" filterMatchMode="contains">
											<f:selectItem itemLabel="Masculino" itemValue="Masculino">
											</f:selectItem>
											<f:selectItem itemLabel="Femenino" itemValue="Femenino">
											</f:selectItem>
											<f:selectItem itemLabel="Otro" itemValue="Otro">
											</f:selectItem>
										</p:selectOneMenu>
									</div>
								</div>
								<div class="col-6">
									<div class="form-group">
										<p:outputLabel>Ciudad:</p:outputLabel>
										<p:inputText class="form-control"
											value="#{beanUsuario.usuario.cuidad}" required="true"
											requiredMessage="Debe ingresar el correo electronico"></p:inputText>
									</div>
								</div>
							</div>


							<div class="form-group">
								<p:outputLabel>Nacionalidad:</p:outputLabel>
								<p:selectOneMenu value="#{beanUsuario.id_nacionalidad}"
									class="form-control">
									<f:selectItems value="#{beanNacionalidad.listaNacionalidades}"
										var="nacionalidad" itemLabel="#{nacionalidad.nombre}"
										itemValue="#{nacionalidad.idNacionalidad}" />
								</p:selectOneMenu>
							</div>
							<div class="form-group">
								<p:outputLabel>Estado civil:</p:outputLabel>
								<p:selectOneMenu value="#{beanUsuario.usuario.estadoCivil}"
									class="form-control" filter="true" filterMatchMode="contains">
									<f:selectItem itemLabel="Casado" itemValue="Masculino">
									</f:selectItem>
									<f:selectItem itemLabel="Soltero" itemValue="Femenino">
									</f:selectItem>
									<f:selectItem itemLabel="Viudo" itemValue="Otro">
									</f:selectItem>
									<f:selectItem itemLabel="Divorciado" itemValue="Divorciado">
									</f:selectItem>
								</p:selectOneMenu>
							</div>

							<div class="form-group">
								<p:outputLabel>Profesion:</p:outputLabel>
								<p:inputText class="form-control"
									value="#{beanUsuario.usuario.profesion}" required="true"
									requiredMessage="Debe ingresar el correo electronico"></p:inputText>
							</div>

							<div class="form-group">
								<p:outputLabel>Pregunta de seguridad:</p:outputLabel>
								<p:selectOneMenu
									value="#{beanUsuario.usuario.preguntaSeguridad}"
									class="form-control" filter="true" filterMatchMode="contains">
									<f:selectItem itemLabel="Nombre de su primera mascosa"
										itemValue="Nombre de su primera mascosa">
									</f:selectItem>
								</p:selectOneMenu>
							</div>

							<div class="form-group">
								<p:outputLabel>Respuesta:</p:outputLabel>
								<p:inputText class="form-control"
									value="#{beanUsuario.usuario.respuestaSeguridad}"
									required="true"
									requiredMessage="Debe ingresar el correo electronico"></p:inputText>
							</div>
							<p:commandButton
								class="turgui__btn_primary turgui__icon_space btn-block"
								value="Guardar" icon="fa fa-save" update="@form, :form2"
								onclick="PF('modal_registrar').hide();"
								actionListener="#{beanUsuario.actionInsertarUsuario()}" />
						</h:form>
					</p:dialog>
				</div>
			</div>

			<p:separator />


			<!-- Tabla con el contenido de los Tipos de Archivo -->
			<div class="container">
				<div class="row">
					<div class="col-sm">
						<h:form id="form2">
							<p:panel header="Datos de Usuarios">
								<p:dataTable value="#{beanUsuario.listaUsuario}" var="usuario"
									reflow="true" paginator="true" rows="5">
									<p:column headerText="Id" filterBy="#{usuario.idUsuario}"
										filterMatchMode="contains" priority="1">
										<h:outputText value="#{usuario.idUsuario}"></h:outputText>
									</p:column>
									<p:column headerText="Nombres" filterBy="#{usuario.nombres}"
										filterMatchMode="contains" priority="1">
										<h:outputText value="#{usuario.nombres}"></h:outputText>
									</p:column>
									<p:column headerText="Apellidos"
										filterBy="#{usuario.apellidos}" filterMatchMode="contains"
										priority="1">
										<h:outputText value="#{usuario.apellidos}"></h:outputText>
									</p:column>
									<p:column headerText="Correo" priority="1">
										<h:outputText value="#{usuario.correo}"></h:outputText>
									</p:column>
									<p:column headerText="Nacionalidad" priority="1">
										<h:outputText value="#{usuario.usuNacionalidad.nombre}"></h:outputText>
									</p:column>
									<p:column headerText="Sexo" priority="1">
										<h:outputText value="#{usuario.sexo}"></h:outputText>
									</p:column>
									<p:column headerText="Estado civil" priority="1">
										<h:outputText value="#{usuario.estadoCivil}"></h:outputText>
									</p:column>
									<p:column headerText="Profesion" priority="1">
										<h:outputText value="#{usuario.profesion}"></h:outputText>
									</p:column>
									<p:column headerText="Pregunta de seguridad" priority="1">
										<h:outputText value="#{usuario.preguntaSeguridad}"></h:outputText>
									</p:column>
									<p:column>
										<div class="col-sm">
											<p:commandButton class="turgui__btn_info" value="Modificar"
												icon="fa fa-edit"
												actionListener="#{beanUsuario.cambiarDatosUsuario(usuario)}"
												onclick="PF('modal_modificar').show();"
												update="@form, :form_modificar">
											</p:commandButton>
											<p:commandButton class="turgui__btn_danger ml-2"
												value="Eliminar" icon="fa fa-remove"
												actionListener="#{beanUsuario.cambiarDatosUsuario(usuario)}"
												onclick="PF('modal_eliminar').show();">
											</p:commandButton>
										</div>
									</p:column>

								</p:dataTable>
							</p:panel>
						</h:form>
					</div>
				</div>
			</div>

			<!-- Modal para confirmar la eliminacion de un Registro -->
			<p:dialog header="Confirmación" widgetVar="modal_eliminar"
				modal="true" height="100">
				<h:form id="form_delete">
					<h:outputText value="Está seguro de eliminar este usuario?" />
					<p:separator />
					<p:commandButton value="Yes" update="@form, :form2"
						icon="pi pi-check" class="turgui__btn_primary turgui__icon_space "
						onclick="PF('modal_eliminar').hide();"
						action="#{beanUsuario.actionEliminarUsuario()}" />
					<p:commandButton value="No" type="button"
						class="turgui__btn_danger ml-2"
						onclick="PF('modal_eliminar').hide();" icon="pi pi-times" />

				</h:form>
			</p:dialog>


			<!-- Formulario para editar un  Tipo de Archivo -->
			<div class="col-sm">
				<p:dialog header="Modificar Tipo de Archivo"
					widgetVar="modal_modificar" modal="true">
					<h:form id="form_modificar">
						<div class="form-group">
							<p:outputLabel>Nombre:</p:outputLabel>
							<p:inputText class="form-control"
								value="#{beanUsuario.usuario.nombres}" required="true"
								requiredMessage="Debe ingresar el nuevo nombre"
								validatorMessage="Solo se permite letras - Dato de Rol No modificado ">
								<f:validateRegex
									pattern="[ A-Za-zäÄëËïÏöÖüÜáéíóúáéíóúÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙ.-]+"></f:validateRegex>
							</p:inputText>
						</div>
						<div class="form-group">
							<p:outputLabel>Apellidos:</p:outputLabel>
							<p:inputText class="form-control"
								value="#{beanUsuario.usuario.apellidos}" required="true"
								requiredMessage="Debe ingresar el nuevo apellido"
								validatorMessage="Solo se permite letras - Dato de Nombre No modificado ">
								<f:validateRegex
									pattern="[ A-Za-zäÄëËïÏöÖüÜáéíóúáéíóúÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙ.-]+"></f:validateRegex>
							</p:inputText>
						</div>
						<div class="form-group">
							<p:outputLabel>Correo electronico:</p:outputLabel>
							<p:inputText class="form-control"
								value="#{beanUsuario.usuario.correo}" required="true"
								requiredMessage="Debe ingresar el nuevo correo elecronico"></p:inputText>
						</div>
						<div class="form-group">
							<p:outputLabel>Contrasenia:</p:outputLabel>
							<p:password class="form-control"
								value="#{beanUsuario.usuario.contrasenia}" required="true"
								requiredMessage="Debe ingresar el nuevo password" />
						</div>
						<p:commandButton
							class="turgui__btn_primary turgui__icon_space btn-block"
							value="Guardar" icon="fa fa-save" update="@form, :form2"
							onclick="PF('modificar_tipoArchivo').hide();"
							actionListener="#{beanUsuario.actionActualizarUsuario()}" />
					</h:form>
				</p:dialog>
			</div>

		</div>
		<!-- Container footer -->
		<ui:include src="../../modulos/meta_container_footer.xhtml" />
	</div>

	<!-- Scripts -->
	<ui:include src="../../modulos/meta_scripts.xhtml" />
</body>
</html>
