<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<!-- Meta data -->
<ui:include src="../../modulos/meta_data.xhtml" />

<h:head>
	<!-- Meta header -->
	<ui:include src="../../modulos/meta_header.xhtml" />
	<title>Turgui | Roles</title>
</h:head>
<body>
	<!-- Menú -->
	<ui:include src="../../modulos/menu_superadmin.xhtml" />
	<!-- Meta body -->
	<ui:include src="../../modulos/meta_body.xhtml" />

	<div class="turgui-container-dashboard ">
		<!-- Sub container -->
		<ui:include src="../../modulos/meta_container.xhtml" />
		<nav class="navbar navbar-expand-lg navbar-dark turgui-bg-secondary">
		<a class="navbar-brand" href="#"><img
			src="../../resources/icon/logo.svg" height="30" />urgui</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item active"><a class="nav-link" href="#">Lagos</a>
				</li>
				<li class="nav-item"><a class="nav-link" href="#">Pueblos</a></li>
				<li class="nav-item"><a class="nav-link" href="#">Montañas</a></li>
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle mr-2 turgui-right-line" href="#"
					id="navbarDropdown" role="button" data-toggle="dropdown"
					aria-haspopup="true" aria-expanded="false"> Otros </a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="#">Ciudades</a> <a
							class="dropdown-item" href="#">Más pueblos</a>
					</div></li>
				<li class="nav-item"><a class="nav-link turgui-right-line"
					href="#">Iniciar sesión</a></li>
			</ul>
			<h:form class="form-inline my-2 my-lg-0">
				<p:inputText class="my-2 my-sm-0 turgui-input-field"
					placeholder="Buscar lugar"></p:inputText>
				<p:commandButton class="turgui-btn-info_outline ml-2 my-2 my-sm-0"
					value="Buscar"></p:commandButton>
			</h:form>
		</div>
		</nav>

		<h1>Roles de Usuario Turgui</h1>

		<div class="container">
			<div class="row">
				<!-- Formulario para registrar un nuevo Rol -->
				<div class="col-xl">
					<p:commandButton value="Agregar Rol" type="button"
						class="turgui__btn_primary turgui__icon_space " icon="fa fa-plus"
						onclick="PF('modal_registrar').show();" />
					
					<p:dialog header="Registrar nuevo Rol de Usuario"
						widgetVar="modal_registrar" modal="true">
						<h:form id="form_create">
							<div class="form-group">
								<p:outputLabel for="nombre">Nombre del nuevo rol:</p:outputLabel>
								<p:inputText id="nombre" class="form-control"
									value="#{beanRol.rol.nombre}" required="true"
									requiredMessage="Debe ingresar el nombre del rol"
									validatorMessage="Debe ingresar solo letras - Rol no ingresado">
									<f:validateRegex
										pattern="[ A-Za-zäÄëËïÏöÖüÜáéíóúáéíóúÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙ.-]+"></f:validateRegex>
								</p:inputText>
							</div>
							<p:commandButton
								class="turgui__btn_primary turgui__icon_space btn-block"
								value="Guardar" icon="fa fa-save" update="@form, :form2"
								onclick="PF('modal_registrar').hide();"
								actionListener="#{beanRol.actionInsertarRol()}" />
						</h:form>
					</p:dialog>
				</div>
			</div>

			<p:separator />

			<!-- Tabla con el contenido de los Roles -->
			<div class="row">
				<div class="col-sm">
					<h:form id="form2">
						<p:panel header="Datos de Roles">
							<p:dataTable value="#{beanRol.listaRoles}" var="rol"
								reflow="true" paginator="true" rows="5">
								<p:column headerText="Id" filterBy="#{rol.idRol}"
									filterMatchMode="contains" priority="1">
									<h:outputText value="#{rol.idRol}"></h:outputText>
								</p:column>
								<p:column headerText="Nombres" filterBy="#{rol.nombre}"
									filterMatchMode="contains" priority="1">
									<h:outputText value="#{rol.nombre}"></h:outputText>
								</p:column>
								<p:column>
									<div class="col-sm">
										<p:commandButton class="turgui__btn_info" value="Modificar"
											icon="fa fa-edit"
											actionListener="#{beanRol.cambiarDatosRol(rol)}"
											onclick="PF('modal_modificar').show();"
											update="@form, :form_modificar">
										</p:commandButton>
										<p:commandButton class="turgui__btn_danger ml-2"
											value="Eliminar" icon="fa fa-remove"
											actionListener="#{beanRol.cambiarDatosRol(rol)}"
											onclick="PF('modal_eliminar').show();">
										</p:commandButton>
									</div>
								</p:column>

							</p:dataTable>
						</p:panel>
					</h:form>
				</div>
			</div>

			<!-- Modal para confirmar la eliminacion de un Registro -->
			<p:dialog header="Confirmación" widgetVar="modal_eliminar"
				modal="true" height="100">
				<h:form id="form_delete">
					<h:outputText value="Está seguro de eliminar este rol?" />
					<p:separator />
					<p:commandButton value="Yes" update="@form, :form2"
						icon="pi pi-check" class="turgui__btn_primary turgui__icon_space "
						onclick="PF('modal_eliminar').hide();"
						action="#{beanRol.actionEliminarRol()}" />
					<p:commandButton value="No" type="button"
						class="turgui__btn_danger ml-2"
						onclick="PF('modal_eliminar').hide();" icon="pi pi-times" />
				</h:form>
			</p:dialog>


			<!-- Formulario para editar un  Tipo de Archivo -->
			<div class="col-xl">
				<p:dialog header="Modificar Tipo de Archivo"
					widgetVar="modal_modificar" modal="true">
					<h:form id="form_modificar">
						<div class="form-group">
							<p:outputLabel for="nombre">Nombre:</p:outputLabel>
							<p:inputText id="nombre" class="form-control"
								value="#{beanRol.rol.nombre}" required="true"
								validatorMessage="Debe ingresar solo letras - Rol no modificado">

								<f:validateRegex
									pattern="[ A-Za-zäÄëËïÏöÖüÜáéíóúáéíóúÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙ.-]+"></f:validateRegex>
							</p:inputText>
						</div>
						<p:commandButton
							class="turgui__btn_primary turgui__icon_space btn-block"
							value="Guardar" icon="fa fa-save" update="@form, :form2"
							onclick="PF('modificar_tipoArchivo').hide();"
							actionListener="#{beanRol.actionActualizarRol()}" />
					</h:form>
				</p:dialog>
			</div>

		</div>
		<!-- Container footer -->
		<ui:include src="../../modulos/meta_container_footer.xhtml" />
	</div>

	<!-- Scripts -->
	<ui:include src="../../modulos/meta_scripts.xhtml" />
</body>
</html>
