<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<!-- Meta data -->
<ui:include src="../../modulos/meta_data.xhtml" />

<h:head>
	<!-- Meta header -->
	<ui:include src="../../modulos/meta_header.xhtml" />
	<title>Turgui | Informe Auditoría</title>
</h:head>
<body>

	<!-- Menú -->
	<ui:include src="../../modulos/menu_superadmin.xhtml" />
	<!-- Meta body -->
	<ui:include src="../../modulos/meta_body.xhtml" />
	<p:separator />
	<div class="turgui-container-dashboard ">
		<!-- Sub container -->
		<ui:include src="../../modulos/meta_container.xhtml" />
		<!-- Tabla con el contenido Informe Aditoría -->
		<div class="row">
			<div class="col-sm">
				<h:form>
					<p:commandButton value="Imprimir" ajax="false"
						class="turgui__btn_primary turgui__icon_space " icon="fa fa-print"
						action="#{beanJasper.actionReporteBitacora()}"></p:commandButton>
				</h:form>
				<br />
				
				<h:form id="form2">
					<p:panel header="Datos de Informe de Auditoría">
						<p:dataTable value="#{beanAuditoria.listaBitacora}" var="bitacora"
							reflow="true" paginator="true" rows="15">
							<p:column headerText="Correo"
								filterBy="#{bitacora.usuUsuario.correo}"
								filterMatchMode="contains" priority="1">
								<h:outputText value="#{bitacora.usuUsuario.correo}"></h:outputText>
							</p:column>
							<p:column headerText="Nombre" priority="1">
								<h:outputText value="#{bitacora.usuUsuario.nombres}"></h:outputText>
							</p:column>
							<p:column headerText="Apellido" priority="1">
								<h:outputText value="#{bitacora.usuUsuario.apellidos}"></h:outputText>
							</p:column>
							<p:column headerText="Fecha del evento" priority="1">
								<h:outputText value="#{bitacora.fechaEvento}"></h:outputText>
							</p:column>
							<p:column headerText="Metodo" priority="1">
								<h:outputText value="#{bitacora.metodo}"></h:outputText>
							</p:column>
							<p:column headerText="Descripcion" priority="1">
								<h:outputText value="#{bitacora.descripcion}"></h:outputText>
							</p:column>
							<p:column headerText="IP" priority="1">
								<h:outputText value="#{bitacora.direccionIp}"></h:outputText>
							</p:column>
						</p:dataTable>
					</p:panel>
				</h:form>
			</div>
		</div>
		<h:form id="form_create">
			<p:commandButton class="turgui__btn_info"
				value="Actualizar Bitacoras" icon="fa fa-edit"
				actionListener="#{beanAuditoria.actualizarBitacora()}"
				update="@form: form2">
			</p:commandButton>
		</h:form>
		<!-- Container footer -->
		<ui:include src="../../modulos/meta_container_footer.xhtml" />
	</div>


	<!-- Scripts -->
	<ui:include src="../../modulos/meta_scripts.xhtml" />
</body>
</html>
