<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<!-- Meta data -->
<ui:include src="../../modulos/meta_data.xhtml" />
<f:metadata>
	<f:viewParam name="one" value="#{beanUsuRol.inicializar()}"></f:viewParam>
</f:metadata>	

<h:head>
	<!-- Meta header -->
	<ui:include src="../../modulos/meta_header.xhtml" />
	<title>Turgui | Usuarios y Roles</title>
</h:head>
<body>
	<!-- Menú -->
	<ui:include src="../../modulos/menu_superadmin.xhtml" />
	<!-- Meta body -->
	<ui:include src="../../modulos/meta_body.xhtml" />

	<div class="turgui-container-dashboard ">
		<!-- Sub container -->
		<ui:include src="../../modulos/meta_container.xhtml" />
		<div class="container">
			<div class="row">
				<!-- Formulario para registrar un nuevo Rol -->
				<div class="col-sm">
					<p:commandButton value="Agregar asignacion" type="button"
						class="turgui__btn_primary turgui__icon_space " icon="fa fa-plus"
						onclick="PF('modal_registrar').show();" />
					<br /> <br />

					<h:form>
						<p:commandButton value="Imprimir" ajax="false"
							class="turgui__btn_primary turgui__icon_space "
							icon="fa fa-print"
							action="#{beanJasper.actionReporteUsuariosRoles()}"></p:commandButton>
					</h:form>
					<p:dialog header="Registrar nuevo Rol de Usuario"
						widgetVar="modal_registrar" modal="true">
						<h:form id="form_create">
							<div class="form-group">
								<p:outputLabel>Nombre del Usuario:</p:outputLabel>
								<p:selectOneMenu value="#{beanUsuRol.idUsuario}" filter="true"
									class="form-control" filterMatchMode="contains">
									<f:selectItems value="#{beanUsuRol.listaUsuarios}"
										var="usuario"
										itemLabel="#{usuario.nombres} - #{usuario.correo}"
										itemValue="#{usuario.idUsuario}">
									</f:selectItems>
								</p:selectOneMenu>
							</div>
							<div class="form-group">
								<p:outputLabel>Rol:</p:outputLabel>
								<p:selectOneMenu value="#{beanUsuRol.idRol}" filter="true"
									class="form-control" filterMatchMode="contains">
									<f:selectItems value="#{beanUsuRol.listaRoles}" var="rol"
										itemLabel="#{rol.nombre}" itemValue="#{rol.idRol}">
									</f:selectItems>
								</p:selectOneMenu>
							</div>
							<p:commandButton
								class="turgui__btn_primary turgui__icon_space btn-block"
								value="Guardar" icon="fa fa-save" update="@form, :form2"
								onclick="PF('modal_registrar').hide();"
								actionListener="#{beanUsuRol.actionInsertarUsuRol()}" />
						</h:form>
					</p:dialog>
				</div>
			</div>

			<p:separator />

			<!-- Tabla con el contenido de los Roles -->
			<div class="row">
				<div class="col-sm">
					<h:form id="form2">
						<p:panel header="Datos de Roles y Usuarios">
							<p:dataTable value="#{beanUsuRol.listaUsuariosRoles}"
								var="usurol" reflow="true" paginator="true" rows="5">
								<p:column headerText="Id" filterBy="#{usurol.idUsuarioRol}"
									filterMatchMode="contains" priority="1">
									<h:outputText value="#{usurol.idUsuarioRol}"></h:outputText>
								</p:column>
								<p:column headerText="Rol" priority="1">
									<h:outputText value="#{usurol.usuRol.nombre}"></h:outputText>
								</p:column>
								<p:column headerText="Usuario" priority="1">
									<h:outputText value="#{usurol.usuUsuario.nombres}"></h:outputText>
								</p:column>
								<p:column>
									<div class="col-sm">
										<p:commandButton class="turgui__btn_info" value="Modificar"
											icon="fa fa-edit"
											actionListener="#{beanUsuRol.cambiarDatosUsuRol(usurol)}"
											onclick="PF('modal_modificar').show();"
											update="@form, :form_modificar">
										</p:commandButton>
										<p:commandButton class="turgui__btn_danger ml-2"
											value="Eliminar" icon="fa fa-remove"
											actionListener="#{beanUsuRol.cambiarDatosUsuRol(usurol)}"
											onclick="PF('modal_eliminar').show();">
										</p:commandButton>
									</div>
								</p:column>

							</p:dataTable>
						</p:panel>
					</h:form>
				</div>
			</div>

			<!-- Modal para confirmar la eliminacion de un Registro -->
			<p:dialog header="Confirmación" widgetVar="modal_eliminar"
				modal="true" height="100">
				<h:form id="form_delete">
					<h:outputText value="Está seguro de eliminar este rol?" />
					<p:separator />
					<p:commandButton value="Yes" update="@form, :form2"
						icon="pi pi-check" class="turgui__btn_primary turgui__icon_space "
						onclick="PF('modal_eliminar').hide();"
						action="#{beanUsuRol.actionEliminarUsuRol()}" />
					<p:commandButton value="No" type="button"
						class="turgui__btn_danger ml-2"
						onclick="PF('modal_eliminar').hide();" icon="pi pi-times" />
				</h:form>
			</p:dialog>


			<!-- Formulario para editar un  Tipo de Archivo -->
			<div class="col-sm">
				<p:dialog header="Modificar Tipo de Archivo"
					widgetVar="modal_modificar" modal="true">
					<h:form id="form_modificar">
						<div class="form-group">
							<p:outputLabel>Nombre del Usuario:</p:outputLabel>
							<p:selectOneMenu value="#{beanUsuRol.idUsuario}" filter="true"
								filterMatchMode="contains">
								<f:selectItems value="#{beanUsuRol.listaUsuarios}" var="usuario"
									itemLabel="#{usuario.nombres}" itemValue="#{usuario.idUsuario}">
								</f:selectItems>
							</p:selectOneMenu>
						</div>
						<div class="form-group">
							<p:outputLabel>Rol:</p:outputLabel>
							<p:selectOneMenu value="#{beanUsuRol.idRol}" filter="true"
								filterMatchMode="contains">
								<f:selectItems value="#{beanUsuRol.listaRoles}" var="rol"
									itemLabel="#{rol.nombre}" itemValue="#{rol.idRol}">
								</f:selectItems>
							</p:selectOneMenu>
						</div>
						<p:commandButton
							class="turgui__btn_primary turgui__icon_space btn-block"
							value="Guardar" icon="fa fa-save" update="@form, :form2"
							onclick="PF('modificar_tipoArchivo').hide();"
							actionListener="#{beanUsuRol.actionActualizarUsuRol()}" />
					</h:form>
				</p:dialog>
			</div>
		</div>
		<!-- Container footer -->
		<ui:include src="../../modulos/meta_container_footer.xhtml" />
	</div>

	<!-- Scripts -->
	<ui:include src="../../modulos/meta_scripts.xhtml" />
</body>
</html>
