<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<!-- Meta data -->
<ui:include src="../../modulos/meta_data.xhtml" />

<h:head>
	<!-- Meta header -->
	<ui:include src="../../modulos/meta_header.xhtml" />
	<title>Turgui | Agregar multimedia</title>
</h:head>
<body>
	<!-- Menú -->
	<ui:include src="../../modulos/menu_admin.xhtml" />
	<!-- Meta body -->
	<ui:include src="../../modulos/meta_body.xhtml" />

	<div class="turgui-container-dashboard">
		<!-- Sub container -->
		<ui:include src="../../modulos/meta_container.xhtml" />
		<div class="container">
			<p:breadCrumb>
				<p:menuitem value="Inicio" url="#" />
				<p:menuitem value="Multimedia" url="index.xhtml" />
				<p:menuitem value="Agregar" url="#" />
			</p:breadCrumb>
			<div class="row">
				<div class="col-sm">
					<h1>Agregar Multimedia</h1>
					<h:form id="form_create" enctype="multipart/form-data">
						<div class="row">
							<div class="col-6">
								<div class="form-group">
									<p:outputLabel for="selectLugar">Lugar </p:outputLabel>
									<br />
									<p:selectOneMenu id="selectLugar" class="form-control"
										value="#{beanMultimedia.idLugarMultimedia}" filter="true"
										filterMatchMode="contains">
										<f:selectItems value="#{beanMultimedia.listaLugares}"
											var="lugar" itemLabel="#{lugar.nombre}"
											itemValue="#{lugar.idLugar}">
										</f:selectItems>
									</p:selectOneMenu>
								</div>
							</div>
							<div class="col-6">
								<div class="form-group">
									<p:outputLabel for="selectTipoArchivo">Tipo de Archivo </p:outputLabel>
									<br />
									<p:selectOneMenu id="selectTipoArchivo" class="form-control"
										value="#{beanMultimedia.idTipoArchivoMultimedia}"
										filter="true" filterMatchMode="contains">
										<f:selectItems value="#{beanMultimedia.listaTipoArchivo}"
											var="tipoArchivo" itemLabel="#{tipoArchivo.nombre}"
											itemValue="#{tipoArchivo.idTipoArchivo}">
										</f:selectItems>
										<p:ajax
										listener="#{beanMultimedia.obtenerExtensionTipoArchivo()}"
										update="form_create" />
									</p:selectOneMenu>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-6">
								<div class="form-group">
									<p:outputLabel for="nombre">Nombre</p:outputLabel>
									<br />
									<p:inputText id="nombre" class="form-control"
										value="#{beanMultimedia.multimedia.nombre}" required="true"></p:inputText>
								</div>
							</div>
							<div class="col-6">
								<div class="form-group">
									<p:outputLabel for="selectPortada">Seleccionar como portada </p:outputLabel>
									<br />
									<p:selectOneMenu id="selectPortada" class="form-control"
										value="#{beanMultimedia.numPortada}">
										<f:selectItem itemLabel="No" itemValue="false" />
										<f:selectItem itemLabel="Si" itemValue="true" />
									</p:selectOneMenu>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-6">
								<div class="form-group">
									<p:outputLabel for="descripcion_corta">Descripción corta</p:outputLabel>
									<p:inputTextarea rows="2" cols="30" counter="display"
										class="form-control" id="descripcion_corta" maxlength="100"
										counterTemplate="{0} caracteres restantes." autoResize="true"
										value="#{beanMultimedia.multimedia.descripcionCorta}" />
									<h:outputText id="display" />
								</div>
							</div>
							<div class="col-6">
								<div class="form-group">
									<p:outputLabel for="descripcion_completa">Descripción completa</p:outputLabel>
									<p:inputTextarea rows="2" cols="30" class="form-control"
										id="descripcion_completa" autoResize="true"
										value="#{beanMultimedia.multimedia.descripcion}" />
									<br />
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<div class="form-group">
									<p:fileUpload value="#{beanMultimedia.archivoSeleccionado}"
										mode="simple" dragDropSupport="true" sizeLimit="5000000" skinSimple="true" 
										allowTypes="/(\.|\/)(svg|jpe?g|png|pdf|mp4|avi)$/" />
								</div>
							</div>
						</div>
						<div class="form-group">
							<p:commandButton
								class="btn-block turgui__btn_primary turgui__icon_space"
								value="Guardar" icon="fa fa-save" ajax="false"
								action="#{beanMultimedia.actionListenerInsertarMultimedia()}" />
						</div>

					</h:form>

				</div>
			</div>
		</div>
		<!-- Container footer -->
		<ui:include src="../../modulos/meta_container_footer.xhtml" />
	</div>

	<!-- Scripts -->
	<ui:include src="../../modulos/meta_scripts.xhtml" />
</body>
</html>
