<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<!-- Meta data -->
<ui:include src="../../modulos/meta_data.xhtml" />

<h:head>
	<!-- Meta header -->
	<ui:include src="../../modulos/meta_header.xhtml" />
	<title>Turgui | Calificación</title>
</h:head>
<body>
	<!-- Menú -->
	<ui:include src="../../modulos/menu_admin.xhtml" />
	<!-- Meta body -->
	<ui:include src="../../modulos/meta_body.xhtml" />

	<div class="turgui-container-dashboard">
		<!-- Sub container -->
		<ui:include src="../../modulos/meta_container.xhtml" />
		<div class="container">
			<h1 class="mt-4">Calificacion</h1>
			<!-- Tabla con el contenido de los Multimedia -->
			<div class="row">
				<div class="col-sm">
					<h:form id="form2" class="table">
						<div class="row">
							<div class="col">
								<p:commandButton value="Nuevo" type="button"
									class="turgui__btn_primary turgui__icon_space "
									icon="fa fa-plus" onclick="PF('modal_registrar').show();" />
							</div>
						</div>
						<div class="row mt-4">
							<div class="col">
								<div class="table-responsive">
									<!-- Tabla de datos -->
									<p:panel header="Lista de Calificaciones">
										<p:dataTable value="#{beanCalificacion.listaCalificaciones}"
											var="calificacion" reflow="true" paginator="true" rows="5">
											<p:column headerText="Id"
												filterBy="#{calificacion.idCalificacion}"
												filterMatchMode="contains" priority="1">
												<h:outputText value="#{calificacion.idCalificacion}"></h:outputText>
											</p:column>
											<p:column headerText="Observación"
												filterBy="#{calificacion.observacion}"
												filterMatchMode="contains" priority="1">
												<h:outputText value="#{calificacion.observacion}"></h:outputText>
											</p:column>
											<p:column headerText="Valor" filterBy="#{calificacion.valor}"
												filterMatchMode="contains" priority="1">
												<h:outputText value="#{calificacion.valor}"></h:outputText>
											</p:column>
											<p:column headerText="Lugar"
												filterBy="#{calificacion.lugLugar.nombre}"
												filterMatchMode="contains" priority="1">
												<h:outputText value="#{calificacion.lugLugar.nombre}"></h:outputText>
											</p:column>
											<p:column headerText="Usuario"
												filterBy="#{calificacion.usuUsuario.correo}"
												filterMatchMode="contains" priority="1">
												<h:outputText value="#{calificacion.usuUsuario.correo}"></h:outputText>
											</p:column>
											<p:column headerText="Fecha">
												<h:outputText value="#{calificacion.fechaCreacion}"></h:outputText>
											</p:column>
											<p:column>
												<p:commandButton class="turgui__btn_info" value="Modificar"
													icon="fa fa-edit"
													actionListener="#{beanCalificacion.cambiarDatosCalificacion(calificacion)}"
													onclick="PF('modal_modificar').show();"
													update="@form, :form_modificar">
												</p:commandButton>

											</p:column>
											<p:column>
												<p:commandButton class="turgui__btn_danger ml-2"
													value="Eliminar" icon="fa fa-remove"
													actionListener="#{beanCalificacion.cambiarDatosCalificacion(calificacion)}"
													onclick="PF('modal_eliminar').show();">
												</p:commandButton>
											</p:column>
										</p:dataTable>
									</p:panel>
								</div>
							</div>
						</div>
					</h:form>
				</div>
			</div>
		</div>

		<div class="row">
			<!-- Formulario para registrar una nueva Calificacion -->
			<div class="col-sm">
				<p:dialog header="Registrar nueva Calificación"
					widgetVar="modal_registrar" modal="true">
					<h:form id="form_create">
						<div class="form-group">
							<p:outputLabel for="selectLugar">Lugar </p:outputLabel>
							<br />
							<p:selectOneMenu id="selectLugar" class="form-control"
								value="#{beanCalificacion.idLugar}" filter="true"
								filterMatchMode="contains">
								<f:selectItems value="#{beanCalificacion.listaLugares}"
									var="lugar" itemLabel="#{lugar.nombre}"
									itemValue="#{lugar.idLugar}">
								</f:selectItems>
							</p:selectOneMenu>
						</div>
						<div class="form-group">
							<p:outputLabel for="selectUsuario">Usuario </p:outputLabel>
							<br />
							<p:selectOneMenu id="selectUsuario" class="form-control"
								value="#{beanCalificacion.idUsuario}" filter="true"
								filterMatchMode="contains">
								<f:selectItems value="#{beanCalificacion.listaUsuarios}"
									var="usuario" itemLabel="#{usuario.nombres}"
									itemValue="#{usuario.idUsuario}">
								</f:selectItems>
							</p:selectOneMenu>
						</div>
						<div class="form-group">
							<p:outputLabel for="valor">Valor</p:outputLabel>
							<br />
							<p:spinner id="valor"
								value="#{beanCalificacion.calificacion.valor}" max="5"
								maxlength="1" min="1" required="true" />
						</div>
						<div class="form-group">
							<p:outputLabel for="observacion">Observación</p:outputLabel>
							<p:inputTextarea rows="2" cols="30" counter="display"
								class="form-control" id="observacion" maxlength="50"
								counterTemplate="{0} caracteres restantes." autoResize="true"
								value="#{beanCalificacion.calificacion.observacion}" />
							<h:outputText id="display" />
						</div>
						<p:commandButton
							class="turgui__btn_primary turgui__icon_space btn-block"
							value="Guardar" icon="fa fa-save" update="@form, :form2"
							onclick="PF('modal_registrar').hide();"
							actionListener="#{beanCalificacion.actionListenerInsertarCalificacion()}" />
					</h:form>
				</p:dialog>
			</div>
		</div>

		<div class="row">
			<!-- Formulario para modificar Calificacion -->
			<div class="col-sm">
				<p:dialog header="Modificar Calificación"
					widgetVar="modal_modificar" modal="true">
					<h:form id="form_modificar">
						<div class="form-group">
							<p:outputLabel for="selectLugar">Lugar </p:outputLabel>
							<br />
							<p:selectOneMenu id="selectLugar" class="form-control"
								value="#{beanCalificacion.idLugar}" filter="true"
								filterMatchMode="contains">
								<f:selectItems value="#{beanCalificacion.listaLugares}"
									var="lugar" itemLabel="#{lugar.nombre}"
									itemValue="#{lugar.idLugar}">
								</f:selectItems>
							</p:selectOneMenu>
						</div>
						<div class="form-group">
							<p:outputLabel for="selectUsuario">Usuario </p:outputLabel>
							<br />
							<p:selectOneMenu id="selectUsuario" class="form-control"
								value="#{beanCalificacion.idUsuario}" filter="true"
								filterMatchMode="contains">
								<f:selectItems value="#{beanCalificacion.listaUsuarios}"
									var="usuario" itemLabel="#{usuario.nombres}"
									itemValue="#{usuario.idUsuario}">
								</f:selectItems>
							</p:selectOneMenu>
						</div>
						<div class="form-group">
							<p:outputLabel for="valor">Valor</p:outputLabel>
							<br />
							<p:spinner id="valor"
								value="#{beanCalificacion.calificacion.valor}" max="5"
								maxlength="1" min="1" required="true" />
						</div>
						<div class="form-group">
							<p:outputLabel for="observacion">Observación</p:outputLabel>
							<p:inputTextarea rows="2" cols="30" counter="display"
								class="form-control" id="observacion" maxlength="50"
								counterTemplate="{0} caracteres restantes." autoResize="true"
								value="#{beanCalificacion.calificacion.observacion}" />
							<h:outputText id="display" />
						</div>
						<p:commandButton
							class="turgui__btn_primary turgui__icon_space btn-block"
							value="Actualizar" icon="fa fa-edit" update="@form, :form2"
							onclick="PF('modal_modificar').hide();"
							actionListener="#{beanCalificacion.actionListenerUpdateCalificacion()}" />
					</h:form>
				</p:dialog>
			</div>
		</div>


		<!-- Modal para confirmar la eliminacion de un Registro -->
		<p:dialog header="Confirmación" widgetVar="modal_eliminar"
			modal="true" height="100">
			<h:form id="form_delete">
				<h:outputText value="Está seguro de eliminar?" />
				<p:separator />
				<p:commandButton value="Yes" update="@form, :form2"
					icon="pi pi-check" class="turgui__btn_primary turgui__icon_space "
					onclick="PF('modal_eliminar').hide();"
					action="#{beanCalificacion.actionListenerEliminarCalificacion()}" />
				<p:commandButton value="No" type="button"
					class="turgui__btn_danger ml-2"
					onclick="PF('modal_eliminar').hide();" icon="pi pi-times" />
			</h:form>
		</p:dialog>







		<!-- Container footer -->
		<ui:include src="../../modulos/meta_container_footer.xhtml" />
	</div>

	<!-- Scripts -->
	<ui:include src="../../modulos/meta_scripts.xhtml" />
</body>
</html>
