<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<!-- Meta data -->
<ui:include src="../../modulos/meta_data.xhtml" />

<h:head>
	<!-- Meta header -->
	<ui:include src="../../modulos/meta_header.xhtml" />
	<title>Turgui | Multimedia</title>
</h:head>
<body>
	<!-- Menú -->
	<ui:include src="../../modulos/menu_admin.xhtml" />
	<!-- Meta body -->
	<ui:include src="../../modulos/meta_body.xhtml" />

	<div class="turgui-container-dashboard">
		<!-- Sub container -->
		<ui:include src="../../modulos/meta_container.xhtml" />
		<div class="container">
			<h1 class="mt-4">Multimedia</h1>
			<!-- Tabla con el contenido de los Multimedia -->
			<div class="row">
				<div class="col-sm">
					<h:form id="form2" class="table">
						<div class="row">
							<div class="col">
								<p:commandButton value="Nuevo"
									class="turgui__btn_primary turgui__icon_space "
									icon="fa fa-plus" action="#{beanMultimedia.actionIrCrear()}" />
							</div>
						</div>
						<div class="row mt-4">
							<div class="col">
								<div class="table-responsive">
									<!-- Tabla de datos -->
									<p:panel header="Lista de lugares">
										<p:dataTable value="#{beanMultimedia.listaMultimedia}"
											var="multimedia" reflow="true" paginator="true" rows="5">
											<p:column headerText="Id"
												filterBy="#{multimedia.idMultimedia}"
												filterMatchMode="contains" priority="1">
												<h:outputText value="#{multimedia.idMultimedia}"></h:outputText>
											</p:column>
											<p:column headerText="Nombre multimedia"
												filterBy="#{multimedia.nombre}" filterMatchMode="contains"
												priority="1">
												<h:outputText value="#{multimedia.nombre}"></h:outputText>
											</p:column>
											<p:column headerText="Descripción"
												filterBy="#{multimedia.descripcion}"
												filterMatchMode="contains" priority="1">
												<h:outputText value="#{multimedia.descripcion}"></h:outputText>
											</p:column>
											<p:column headerText="Lugar"
												filterBy="#{multimedia.lugLugar.nombre}"
												filterMatchMode="contains" priority="1">
												<h:outputText value="#{multimedia.lugLugar.nombre}"></h:outputText>
											</p:column>
											<p:column headerText="Tipo Archivo"
												filterBy="#{multimedia.mulTipoArchivo.nombre}"
												filterMatchMode="contains" priority="1">
												<h:outputText value="#{multimedia.mulTipoArchivo.nombre}"></h:outputText>
											</p:column>
											<p:column headerText="Path">
												<h:outputText value="#{multimedia.direccion}"></h:outputText>
											</p:column>
											<p:column>
												<div class="col-sm">
													
													<p:commandButton class="turgui__btn_danger ml-2"
														value="Eliminar" icon="fa fa-remove"
														actionListener="#{beanMultimedia.cambiarDatosMultimedia(multimedia)}"
														onclick="PF('modal_eliminar').show();">
													</p:commandButton>
												</div>
											</p:column>
										</p:dataTable>
									</p:panel>
								</div>
							</div>
						</div>
					</h:form>
				</div>
			</div>
		</div>
		<!-- Modal para confirmar la eliminacion de un Registro -->
		<p:dialog header="Confirmación" widgetVar="modal_eliminar"
			modal="true" height="100">
			<h:form id="form_delete">
				<h:outputText value="Está seguro de eliminar?" />
				<p:separator />
				<p:commandButton value="Yes" update="@form, :form2"
					icon="pi pi-check" class="turgui__btn_primary turgui__icon_space "
					onclick="PF('modal_eliminar').hide();"
					action="#{beanMultimedia.actionListenerEliminarMultimedia()}" />
				<p:commandButton value="No" type="button"
					class="turgui__btn_danger ml-2"
					onclick="PF('modal_eliminar').hide();" icon="pi pi-times" />
			</h:form>
		</p:dialog>
		<!-- Container footer -->
		<ui:include src="../../modulos/meta_container_footer.xhtml" />
	</div>

	<!-- Scripts -->
	<ui:include src="../../modulos/meta_scripts.xhtml" />
</body>
</html>
