<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<!-- Meta data -->
<ui:include src="../../modulos/meta_data.xhtml" />

<h:head>
	<!-- Meta header -->
	<ui:include src="../../modulos/meta_header.xhtml" />
	<title>Turgui | Mapa</title>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXDDbV7QZUJZLQw0Z1pcCeyx284JVweF0"></script>
</h:head>
<body onload="geoFindMe()">
	<!-- Menú -->
	<ui:include src="../../modulos/menu_admin.xhtml" />
	<!-- Meta body -->
	<ui:include src="../../modulos/meta_body.xhtml" />

	<div class="turgui-container-dashboard">
		<!-- Sub container -->
		<ui:include src="../../modulos/meta_container.xhtml" />
		<div class="container">
			<h1 class="mt-4">Mapa</h1>
			<h:form prependId="false">
				<p:growl id="messages" showDetail="true" life="6000" />
				<p:gmap center="0.3581691302412865, -78.11154842376709" zoom="15"
					type="ROADMAP" style="width:800px;height:400px"
					model="#{beanMapa.model}" mapTypeControl="true"
					navigationControl="true">

					<p:ajax event="pointSelect" listener="#{beanMapa.onPointSelect}"
						update="messages" />
				</p:gmap>
			</h:form>
<!-- 			<p:galleria value="#{beanMultimedia.listaMultimedia}" var="imagen" panelWidth="500" -->
<!-- 				panelHeight="313" showCaption="true"> -->
<!-- 				<p:graphicImage url="home/neiderrequene/git/turgui/multimedia/imagen/2020-02-03_09:21:50_.png" -->
<!-- 					alt="Image Description for " title="#{imagen.nombre}" /> -->
<!-- 			</p:galleria> -->
		</div>
		<!-- Container footer -->
		<ui:include src="../../modulos/meta_container_footer.xhtml" />
	</div>

	<!-- Scripts -->
	<script type="text/javascript">
	const geoFindMe = () => {
	    if (navigator.geolocation) {
	        navigator.geolocation.getCurrentPosition(success, error, geoOptions);
	    } else {
	        console.log("Geolocation services are not supported by your web browser.");
	    }
	}

	const success = (position) => {
		console.log("Alli",position)
	    let latitude = position.coords.latitude;
	    let longitude = position.coords.longitude;
	    let altitude = position.coords.altitude;
	    let accuracy = position.coords.accuracy;
	    console.log("Latitud: ", latitude);
	    console.log("Longitud. ",longitude);
	    console.log(`lat: ${latitude} long: ${longitude}`);
	}

	const error = (error) => {
	    console.log(`Unable to retrieve your location due to ${error.code}: ${error.message}`);
	}

	const geoOptions = {
	    enableHighAccuracy: true,
	    maximumAge: 30000,
	    timeout: 27000
	};
	</script>
	<ui:include src="../../modulos/meta_scripts.xhtml" />
</body>
</html>
