<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<!-- Meta data -->
<ui:include src="../../modulos/meta_data.xhtml" />

<h:head>
	<!-- Meta header -->
	<ui:include src="../../modulos/meta_header.xhtml" />
	<title>Turgui | Tipo de archivo</title>
</h:head>
<body>
	<!-- Menú -->
	<ui:include src="../../modulos/menu_admin.xhtml" />
	<!-- Meta body -->
	<ui:include src="../../modulos/meta_body.xhtml" />

	<div class="turgui-container-dashboard">
		<!-- Sub container -->
		<ui:include src="../../modulos/meta_container.xhtml" />
		<div class="container">
			<h1>Tipos de Archivo</h1>
			<div class="row">
				<!-- Formulario para registrar un nuevo Tipo de Archivo -->
				<div class="col-sm">
					<p:commandButton value="Nuevo" type="button"
						class="turgui__btn_primary turgui__icon_space " icon="fa fa-plus"
						onclick="PF('modal_registrar').show();" />
					<p:dialog header="Registrar nuevo Tipo de Archivo"
						widgetVar="modal_registrar" modal="true">
						<h:form id="form_create">
							<div class="form-group">
								<p:outputLabel for="nombre">Nombre</p:outputLabel>
								<p:inputText id="nombre" class="form-control"
									value="#{beanTipoArchivo.tipoArchivo.nombre}" required="true"></p:inputText>
							</div>
							<div class="form-group">
								<p:outputLabel for="extension">Extesión</p:outputLabel>
								<p:inputText id="extension" class="form-control"
									value="#{beanTipoArchivo.tipoArchivo.extension}"
									required="true"></p:inputText>
							</div>
							<p:commandButton
								class="turgui__btn_primary turgui__icon_space btn-block"
								value="Guardar" icon="fa fa-save" update="@form, :form2"
								onclick="PF('modal_registrar').hide();"
								actionListener="#{beanTipoArchivo.actionListenerInsertarTipoArchivo()}" />
						</h:form>
					</p:dialog>
				</div>
			</div>

			<p:separator />

			<!-- Tabla con el contenido de los Tipos de Archivo -->
			<div class="row">
				<div class="col-sm">
					<h:form id="form2">
						<p:panel header="Datos Tipo Archivos">
							<p:dataTable value="#{beanTipoArchivo.listaTipoArchivo}"
								var="tipoArchivo" reflow="true" paginator="true" rows="5">
								<p:column headerText="Id"
									filterBy="#{tipoArchivo.idTipoArchivo}"
									filterMatchMode="contains" priority="1">
									<h:outputText value="#{tipoArchivo.idTipoArchivo}"></h:outputText>
								</p:column>
								<p:column headerText="Tipo Documento"
									filterBy="#{tipoArchivo.nombre}" filterMatchMode="contains"
									priority="1">
									<h:outputText value="#{tipoArchivo.nombre}"></h:outputText>
								</p:column>
								<p:column headerText="Extensión"
									filterBy="#{tipoArchivo.extension}" filterMatchMode="contains"
									priority="1">
									<h:outputText value="#{tipoArchivo.extension}"></h:outputText>
								</p:column>
								<p:column>
									<div class="col-sm">
										<p:commandButton class="turgui__btn_info" value="Modificar"
											icon="fa fa-edit"
											actionListener="#{beanTipoArchivo.cambiarDatosTipoArchivo(tipoArchivo)}"
											onclick="PF('modal_modificar').show();"
											update="@form, :form_modificar">
										</p:commandButton>
										<p:commandButton class="turgui__btn_danger ml-2"
											value="Eliminar" icon="fa fa-remove"
											actionListener="#{beanTipoArchivo.cambiarDatosTipoArchivo(tipoArchivo)}"
											onclick="PF('modal_eliminar').show();">
										</p:commandButton>
									</div>
								</p:column>

							</p:dataTable>
						</p:panel>
					</h:form>
				</div>
			</div>

			<!-- Modal para confirmar la eliminacion de un Registro -->
			<p:dialog header="Confirmación" widgetVar="modal_eliminar"
				modal="true" height="100">
				<h:form id="form_delete">
					<h:outputText value="Está seguro de eliminar?" />
					<p:separator />
					<p:commandButton value="Yes" update="@form, :form2"
						icon="pi pi-check" class="turgui__btn_primary turgui__icon_space "
						onclick="PF('modal_eliminar').hide();"
						action="#{beanTipoArchivo.actionListenerEliminarTipoArchivo()}" />
					<p:commandButton value="No" type="button"
						class="turgui__btn_danger ml-2"
						onclick="PF('modal_eliminar').hide();" icon="pi pi-times" />
				</h:form>
			</p:dialog>


			<!-- Formulario para editar un  Tipo de Archivo -->
			<div class="col-sm">
				<p:dialog header="Modificar Tipo de Archivo"
					widgetVar="modal_modificar" modal="true">
					<h:form id="form_modificar">
						<div class="form-group">
							<p:outputLabel for="nombre">Nombre</p:outputLabel>
							<p:inputText id="nombre" class="form-control"
								value="#{beanTipoArchivo.tipoArchivo.nombre}" required="true"></p:inputText>
						</div>
						<div class="form-group">
							<p:outputLabel for="extension">Extensión</p:outputLabel>
							<p:inputText id="extension" class="form-control"
								value="#{beanTipoArchivo.tipoArchivo.extension}" required="true"></p:inputText>
						</div>
						<p:commandButton
							class="turgui__btn_primary turgui__icon_space btn-block"
							value="Guardar" icon="fa fa-save" update="@form, :form2"
							onclick="PF('modificar_tipoArchivo').hide();"
							actionListener="#{beanTipoArchivo.actionListenerActualizarTipoArchivo()}" />
					</h:form>
				</p:dialog>
			</div>
		</div>
		<!-- Container footer -->
		<ui:include src="../../modulos/meta_container_footer.xhtml" />
	</div>

	<!-- Scripts -->
	<ui:include src="../../modulos/meta_scripts.xhtml" />
</body>
</html>
