<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

	<div class="nav-side-menu turgui-no-margin">
		<div class="brand">Menú</div>
		<i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse"
			data-target="#menu-content"></i>

		<div class="menu-list">
			<ul id="menu-content" class="menu-content collapse out">
				<li><a href="../index.xhtml"> <i class="pi pi-home fa-lg"></i>
						Inicio
				</a></li>

				<li data-toggle="collapse" data-target="#service" class="collapsed">
					<a href="#" class="turgui-no-redirect"><i
						class="fa fa-users fa-lg"></i> Usuarios <span class="arrow"></span></a>
				</li>
				<ul class="sub-menu collapse" id="service">
					<li><a href="../usuUsuario/registroRol.xhtml">Roles</a></li>
					<li><a href="../usuUsuario/registroUsuario.xhtml">Usuarios</a></li>
					<li><a href="../usuUsuario/usuarioRol.xhtml" >Asignación
							Roles</a></li>
				</ul>

				<li><a
					href="../usuUsuario/nacionalidad.xhtml"> <i
						class="fa fa-flag fa-lg"></i> Nacionalidad
				</a></li>

				<li><a href="../usuUsuario/reporteBitacora.xhtml"> <i
						class="fa fa-file-text fa-lg"></i> Bitácora
				</a></li>

				<li class="bottom-menu"><h:form>
						<p:commandButton action="#{beanLogin.actionCerrarSesion()}"
							icon="pi pi-sign-out" class="turgui-btn-sign-out"
							value="Cerrar sesión"></p:commandButton>
					</h:form></li>
			</ul>
		</div>
	</div>

</ui:composition>