<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<link rel="stylesheet" href="../resources/css/bootstrap.min.css" />
	<link href="../resources/css/styles.css" rel="stylesheet"
		type="text/css" />
	<link href="../resources/css/menu.css" rel="stylesheet" type="text/css" />
	<!-- icons -->
	<link rel="apple-touch-icon" sizes="180x180"
		href="../resources/icon/apple-touch-icon.png" />
	<link rel="icon" type="image/png" sizes="32x32"
		href="../resources/icon/favicon-32x32.png" />
	<link rel="icon" type="image/png" sizes="16x16"
		href="../resources/icon/favicon-16x16.png" />
	<link rel="manifest" href="../resources/icon/site.webmanifest" />
	<link rel="mask-icon" href="../resources/icon/safari-pinned-tab.svg"
		color="#5bbad5" />
	<link rel="shortcut icon" href="../resources/icon/favicon.ico" />
	<meta name="apple-mobile-web-app-title" content="Turgui" />
	<meta name="application-name" content="Turgui" />
	<meta name="msapplication-TileColor" content="#da532c" />
	<meta name="msapplication-config"
		content="../resources/icon/browserconfig.xml" />
	<meta name="theme-color" content="#ffffff" />

</ui:composition>