<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    
    
    <div class="nav-side-menu turgui-no-margin">
		<div class="brand">Menú</div>
		<i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse"
			data-target="#menu-content"></i>

		<div class="menu-list">
			<ul id="menu-content" class="menu-content collapse out">
				<li>
					<a href="../index.xhtml"> <i class="pi pi-home fa-lg"></i>Inicio</a>
				</li>

				<li data-toggle="collapse" data-target="#products">
					<a href="#"
						class="turgui-no-redirect"><i class="fa fa-area-chart fa-lg">
						</i> DPA <span class="arrow"></span></a>
				</li>
				<ul class="sub-menu collapse" id="products">
					<li><a href="../informacion/infNivel.xhtml">Nivel</a></li>
					<li><a href="../informacion/infDPA.xhtml">DPA</a></li>
				</ul>

				<li data-toggle="collapse" data-target="#service" class="collapsed">
					<a href="#" class="turgui-no-redirect"><i
						class="fa fa-table fa-lg"></i> Reportes <span class="arrow"></span></a>
				</li>
				<ul class="sub-menu collapse" id="service">
					<li><a href="../lugar/reporte.xhtml">Reporte</a></li>
					<li><a href="../lugar/estadoReporte.xhtml">Estado de
							reporte</a></li>
				</ul>

				<li data-toggle="collapse" data-target="#new" class="collapsed">
					<a href="#" class="turgui-no-redirect"><i
						class="fa fa-file-image-o fa-lg"></i> Lugares <span class="arrow"></span></a>
				</li>
				<ul class="sub-menu collapse" id="new">
					<li><a href="../lugar/lugarlistar.xhtml">Lugares</a></li>
					<li><a href="../lugar/lugaragregar.xhtml">Agregar lugar</a></li>
					<li><a href="../lugar/tipoLugar.xhtml">Tipo de lugar</a></li>
					<li><a href="../multimedia/calificacion.xhtml">Calificación</a></li>
					<li><a href="../lugar/contacto.xhtml">Contactos</a></li>
				</ul>

				<li data-toggle="collapse" data-target="#multimedia"
					class="collapsed"><a href="#" class="turgui-no-redirect"><i
						class="fa fa-folder-open fa-lg"></i> Multimedia <span
						class="arrow"></span></a></li>
				<ul class="sub-menu collapse" id="multimedia">
					<li><a href="../multimedia/index.xhtml">Multimedia</a></li>
					<li><a href="../multimedia/agregarMultimedia.xhtml">Agregar multimedia</a></li>
					<li><a href="../multimedia/tipoArchivo.xhtml">Tipo archivo</a></li>
					<li><a href="../multimedia/mapa.xhtml">Mapa</a></li>
				</ul>

				<li><a href="../informacion/infParametro.xhtml"> <i
						class="fa fa-info fa-lg"></i> Parámetros
				</a></li>
				
				<li class="bottom-menu">
				<h:form>
				<p:commandButton action="#{beanLogin.actionCerrarSesion()}" icon="pi pi-sign-out" class="turgui-btn-sign-out" value="Cerrar sesión"></p:commandButton>
				</h:form>
				</li>
			</ul>
		</div>
	</div>
	
</ui:composition>
