<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

	<nav class="navbar navbar-expand-lg navbar-dark turgui-bg-secondary">
		<a class="navbar-brand" href="index.xhtml"><img
			src="../resources/icon/logo.svg" height="30" />urgui</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="nav-link mr-2 turgui-right-line" href="lugares.xhtml" >Lugares</a>
				</li>
				<li class="nav-item"><a class="nav-link turgui-right-line"
					href="../login.xhtml">Iniciar sesión</a></li>
			</ul>
		</div>
	</nav>

</ui:composition>
