<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<f:metadata>
	<f:viewParam name="one" value="#{beanLogin.inicializar()}"></f:viewParam>
</f:metadata>

<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<link rel="stylesheet" href="../resources/css/bootstrap.min.css" />
	<link href="../resources/css/styles.css" rel="stylesheet"
		type="text/css" />
	<!-- icons -->
	<link rel="apple-touch-icon" sizes="180x180"
		href="../resources/icon/apple-touch-icon.png" />
	<link rel="icon" type="image/png" sizes="32x32"
		href="../resources/icon/favicon-32x32.png" />
	<link rel="icon" type="image/png" sizes="16x16"
		href="../resources/icon/favicon-16x16.png" />
	<link rel="manifest" href="../resources/icon/site.webmanifest" />
	<link rel="mask-icon" href="../resources/icon/safari-pinned-tab.svg"
		color="#5bbad5" />
	<link rel="shortcut icon" href="../resources/icon/favicon.ico" />
	<meta name="apple-mobile-web-app-title" content="Turgui" />
	<meta name="application-name" content="Turgui" />
	<meta name="msapplication-TileColor" content="#da532c" />
	<meta name="msapplication-config"
		content="../resources/icon/browserconfig.xml" />
	<meta name="theme-color" content="#ffffff" />
	<title>Turgui | Login</title>
</h:head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark turgui-bg-secondary">
	<a class="navbar-brand" href="visitante/index.xhtml"><img
		src="../resources/icon/logo.svg" height="30" />urgui</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item"><a class="nav-link mr-2 turgui-right-line" href="visitante/lugares.xhtml">Lugares</a>
			</li>
			<li class="nav-item"><a class="nav-link turgui-right-line"
				href="#">Iniciar sesión</a></li>
		</ul>
	</div>
	</nav>
	<div
		class="turgui-flex turgui-flex__align-items_center turgui-flex__justify-content_center turgui-menu-height">
		<h:form>
			<p:panel header="Turgui | Login">
				<h:panelGrid columns="2">
					<h:outputText value="Correo:" />
					<p:inputText value="#{beanLogin.correoUsuario}" required="true"
						requiredMessage="Debe ingresar su codigo de usuario."
						class="form-control" />
					<h:outputText value="Contraseña:" />
					<p:password value="#{beanLogin.contrasenia}" required="true"
						size="20" maxlength="10"
						requiredMessage="Debe ingresar su contraseña." />

					<p:selectOneMenu value="#{beanLogin.rol}" filter="true"
						filterMatchMode="contains">
						<f:selectItem itemLabel="Administrador" itemValue="administrador">
						</f:selectItem>
						<f:selectItem itemLabel="Superadministrador"
							itemValue="superadministrador">
						</f:selectItem>
						<f:selectItem itemLabel="Usuario" itemValue="usuario">
						</f:selectItem>
					</p:selectOneMenu>
					<p:commandButton value="Ingresar" icon="fa fa-key"
						action="#{beanLogin.accederTurgui()}" update="mensajes" />
					<p:messages id="mensajes" />

					<li class="nav-item list-unstyled"><a class="nav-link"
						href="superadministrador/usuUsuario/recuperarContrasena.xhtml">Olvidé
							mi Contraseña</a></li>

				</h:panelGrid>
			</p:panel>
		</h:form>
	</div>
</body>
</html>
