<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">



<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<link rel="stylesheet" href="../resources/css/bootstrap.min.css" />
	<link href="../resources/css/styles.css" rel="stylesheet"
		type="text/css" />
	<!-- icons -->
	<link rel="apple-touch-icon" sizes="180x180"
		href="../resources/icon/apple-touch-icon.png" />
	<link rel="icon" type="image/png" sizes="32x32"
		href="../resources/icon/favicon-32x32.png" />
	<link rel="icon" type="image/png" sizes="16x16"
		href="../resources/icon/favicon-16x16.png" />
	<link rel="manifest" href="../resources/icon/site.webmanifest" />
	<link rel="mask-icon" href="../resources/icon/safari-pinned-tab.svg"
		color="#5bbad5" />
	<link rel="shortcut icon" href="../resources/icon/favicon.ico" />
	<meta name="apple-mobile-web-app-title" content="Turgui" />
	<meta name="application-name" content="Turgui" />
	<meta name="msapplication-TileColor" content="#da532c" />
	<meta name="msapplication-config"
		content="../resources/icon/browserconfig.xml" />
	<meta name="theme-color" content="#ffffff" />
	<title>Turgui | Registro</title>
</h:head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark turgui-bg-secondary">
	<a class="navbar-brand" href="#"><img
		src="../resources/icon/logo.svg" height="30" />urgui</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse"
		data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false"
		aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav ml-auto">
			<li class="nav-item active"><a class="nav-link" href="#">Lagos</a>
			</li>
			<li class="nav-item"><a class="nav-link" href="#">Pueblos</a></li>
			<li class="nav-item"><a class="nav-link" href="#">Montañas</a></li>
			<li class="nav-item dropdown"><a
				class="nav-link dropdown-toggle mr-2 turgui-right-line" href="#"
				id="navbarDropdown" role="button" data-toggle="dropdown"
				aria-haspopup="true" aria-expanded="false"> Otros </a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<a class="dropdown-item" href="#">Ciudades</a> <a
						class="dropdown-item" href="#">Más pueblos</a>
				</div></li>
			<li class="nav-item"><a class="nav-link turgui-right-line"
				href="#">Iniciar sesión</a></li>
		</ul>
		<h:form class="form-inline my-2 my-lg-0">
			<p:inputText class="my-2 my-sm-0 turgui-input-field"
				placeholder="Buscar lugar"></p:inputText>
			<p:commandButton class="turgui-btn-info_outline ml-2 my-2 my-sm-0"
				value="Buscar"></p:commandButton>
		</h:form>
	</div>
	</nav>

	<br></br>
	<br></br>
	<br></br>
	<br></br>
	<br></br>
	<div
		class="turgui-flex turgui-flex__align-items_center turgui-flex__justify-content_center turgui-menu-height">
		<h:form>
			<div class="row">
				<div class="col-6">
					<div class="form-group">
						<p:outputLabel for="nombre">Nombre:</p:outputLabel>
						<p:inputText id="nombre" class="form-control"
							value="#{beanUsuario.usuario.nombres}" required="true"
							requiredMessage="Debe ingresar el nombre del Usuario"
							validatorMessage="Solo se permite letras - Dato de Nombre No ingresado ">
							<f:validateRegex
								pattern="[ A-Za-zäÄëËïÏöÖüÜáéíóúáéíóúÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙ.-]+"></f:validateRegex>
						</p:inputText>
					</div>
				</div>
				<div class="col-6">
					<div class="form-group">
						<p:outputLabel>Apellidos:</p:outputLabel>
						<p:inputText class="form-control"
							value="#{beanUsuario.usuario.apellidos}" required="true"
							requiredMessage="Debe ingresar el apellido del Usuario"
							validatorMessage="Solo se permite letras - Dato de Apellido No ingresado ">
							<f:validateRegex
								pattern="[ A-Za-zäÄëËïÏöÖüÜáéíóúáéíóúÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙ.-]+"></f:validateRegex>
						</p:inputText>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-6">
					<div class="form-group">
						<p:outputLabel>Correo electronico:</p:outputLabel>
						<p:inputText class="form-control"
							value="#{beanUsuario.usuario.correo}" required="true"
							requiredMessage="Debe ingresar el correo electronico"></p:inputText>
					</div>
				</div>
				<div class="col-6">
					<div class="form-group">
						<p:outputLabel>Contrasenia:</p:outputLabel>
						<p:password class="form-control"
							value="#{beanUsuario.usuario.contrasenia}" required="true"
							requiredMessage="Debe ingresar el password" />
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-6">
					<div class="form-group">
						<p:outputLabel>Sexo:</p:outputLabel>
						<p:selectOneMenu value="#{beanUsuario.usuario.sexo}"
							class="form-control" filter="true" filterMatchMode="contains">
							<f:selectItem itemLabel="Masculino" itemValue="Masculino">
							</f:selectItem>
							<f:selectItem itemLabel="Femenino" itemValue="Femenino">
							</f:selectItem>
							<f:selectItem itemLabel="Otro" itemValue="Otro">
							</f:selectItem>
						</p:selectOneMenu>
					</div>
				</div>
				<div class="col-6">
					<div class="form-group">
						<p:outputLabel>Ciudad:</p:outputLabel>
						<p:inputText class="form-control"
							value="#{beanUsuario.usuario.cuidad}" required="true"
							requiredMessage="Debe ingresar el correo electronico"></p:inputText>
					</div>
				</div>
			</div>


			<div class="form-group">
				<p:outputLabel>Nacionalidad:</p:outputLabel>
				<p:selectOneMenu value="#{beanUsuario.id_nacionalidad}"
					class="form-control">
					<f:selectItems value="#{beanNacionalidad.listaNacionalidades}"
						var="nacionalidad" itemLabel="#{nacionalidad.nombre}"
						itemValue="#{nacionalidad.idNacionalidad}" />
				</p:selectOneMenu>
			</div>
			<div class="form-group">
				<p:outputLabel>Estado civil:</p:outputLabel>
				<p:selectOneMenu value="#{beanUsuario.usuario.estadoCivil}"
					class="form-control" filter="true" filterMatchMode="contains">
					<f:selectItem itemLabel="Casado" itemValue="Masculino">
					</f:selectItem>
					<f:selectItem itemLabel="Soltero" itemValue="Femenino">
					</f:selectItem>
					<f:selectItem itemLabel="Viudo" itemValue="Otro">
					</f:selectItem>
					<f:selectItem itemLabel="Divorciado" itemValue="Divorciado">
					</f:selectItem>
				</p:selectOneMenu>
			</div>

			<div class="form-group">
				<p:outputLabel>Profesion:</p:outputLabel>
				<p:inputText class="form-control"
					value="#{beanUsuario.usuario.profesion}" required="true"
					requiredMessage="Debe ingresar el correo electronico"></p:inputText>
			</div>

			<div class="form-group">
				<p:outputLabel>Pregunta de seguridad:</p:outputLabel>
				<p:selectOneMenu value="#{beanUsuario.usuario.preguntaSeguridad}"
					class="form-control" filter="true" filterMatchMode="contains">
					<f:selectItem itemLabel="Nombre de su primera mascosa"
						itemValue="Nombre de su primera mascosa">
					</f:selectItem>
				</p:selectOneMenu>
			</div>

			<div class="form-group">
				<p:outputLabel>Respuesta:</p:outputLabel>
				<p:inputText class="form-control"
					value="#{beanUsuario.usuario.respuestaSeguridad}" required="true"
					requiredMessage="Debe ingresar el correo electronico"></p:inputText>
			</div>
			<p:commandButton
				class="turgui__btn_primary turgui__icon_space btn-block"
				value="Registrar!" icon="fa fa-save"
				onclick="PF('modal_registrar').hide();"
				actionListener="#{beanUsuario.actionRegistrarUsuario()}" />
		</h:form>
	</div>
</body>
</html>
