<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<!-- Meta data -->
<ui:include src="../../modulos/meta_data.xhtml" />

<h:head>
	<!-- Meta header -->
	<ui:include src="../../modulos/meta_header.xhtml" />
	<title>Turgui | DPA</title>
</h:head>
<body>
	<!-- Menú -->
	<ui:include src="../../modulos/menu_admin.xhtml" />
	<!-- Meta body -->
	<ui:include src="../../modulos/meta_body.xhtml" />

	<div class="turgui-container-dashboard ">
		<!-- Sub container -->
		<ui:include src="../../modulos/meta_container.xhtml" />
		<div class="container">
			<h1>DPA</h1>


			<!-- Formulario para registrar un nuevo DPA -->
			<div class="row">
				<div class="col-sm">

					<p:commandButton value="Nuevo" type="button"
						class="turgui__btn_primary turgui__icon_space " icon="fa fa-plus"
						onclick="PF('modal_registrar').show();" />
					<div class="ui-fluid">
						<p:dialog header="Registrar División Política"
							widgetVar="modal_registrar" modal="true" width="350" height="360">
							<h:form id="form_create">
								<div class="form-group">
									<p:outputLabel for="selectNiveles">Seleccione el Nivel </p:outputLabel>
									<br />
									<p:selectOneMenu id="selectNiveles"
										value="#{beanDPA.idNivelSeleccionado}" filter="true"
										filterMatchMode="contains">
										<f:selectItems value="#{beanDPA.listaNiveles}" var="nivel"
											itemLabel="#{nivel.nombre}" itemValue="#{nivel.idNivel}">
										</f:selectItems>
										<p:ajax
											listener="#{beanDPA.actionListenerMostrarDpaNombresNiveles()}"
											update="form_create" />
									</p:selectOneMenu>
								</div>

								<p:outputPanel rendered="#{beanDPA.esCanton}">
									<p:outputLabel for="selectProvincias">Seleccione la Provincia</p:outputLabel>
									<br />
									<p:selectOneMenu id="selectProvincias"
										value="#{beanDPA.idProvinciaSeleccionado}" filter="true"
										filterMatchMode="contains">
										<f:selectItems value="#{beanDPA.listaProvincias}"
											var="provincia" itemLabel="#{provincia.nombre}"
											itemValue="#{provincia.idDivisionPolitica}">
										</f:selectItems>
										<p:ajax
											listener="#{beanDPA.actionListenerMostrarDpaNombresNiveles()}"
											update="form_create" />
									</p:selectOneMenu>
								</p:outputPanel>

								<p:outputPanel rendered="#{beanDPA.esParroquia}">
									<p:outputLabel for="selectCanton">Seleccione el Cantón</p:outputLabel>
									<br />
									<p:selectOneMenu id="selectCanton"
										value="#{beanDPA.idCantonSeleccionado}" filter="true"
										filterMatchMode="contains">
										<f:selectItems value="#{beanDPA.listaCantones}" var="canton"
											itemLabel="#{canton.nombre}"
											itemValue="#{canton.idDivisionPolitica}">
										</f:selectItems>
									</p:selectOneMenu>
								</p:outputPanel>


								<div class="form-group">
									<p:outputLabel for="nombre">Nombre</p:outputLabel>
									<p:inputText id="nombre" class="form-control"
										value="#{beanDPA.nombreNuevo}" required="true"
										validatorMessage="Solo se permite letras - Dato de Nivel No ingresado ">
										<f:validateRegex
											pattern="[ A-Za-zäÄëËïÏöÖüÜáéíóúáéíóúÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙ.-]+"></f:validateRegex>
									</p:inputText>
								</div>
								<p:commandButton
									class="turgui__btn_primary turgui__icon_space btn-block"
									value="Guardar" icon="fa fa-save" update="@form, :form2"
									onclick="PF('modal_registrar').hide();"
									actionListener="#{beanDPA.acctionInsertDPA()}" />
							</h:form>
						</p:dialog>
					</div>
				</div>
			</div>

			<!-- 		Fin formulario de Registro -->

			<p:separator />


			<!-- Tabla con el contenido de DPA -->
			<div class="row">
				<div class="col-sm">
					<h:form id="form2">
						<p:panel header="Datos DPA">
							<p:treeTable value="#{beanDPA.arbolDatos}" var="dpa">
								<p:column>
									<f:facet name="header">
									Id
								</f:facet>
									<h:outputText value="#{dpa.idDivisionPolitica}"></h:outputText>
								</p:column>
								<p:column>
									<f:facet name="header">
									Nombre
								</f:facet>
									<h:outputText value="#{dpa.nombre}"></h:outputText>
								</p:column>
								<p:column>
									<f:facet name="header">
									Nivel
								</f:facet>
									<h:outputText value="#{dpa.infNivel.nombre}"></h:outputText>
								</p:column>
								<p:column style="width:24px">
									<p:commandLink update=":form2:informacionPanel"
										oncomplete="PF('documentDialog').show()" title="Información"
										styleClass="ui-icon pi pi-search">
										<f:setPropertyActionListener value="#{dpa}"
											target="#{beanDPA.dpa_selecionado}" />
									</p:commandLink>
								</p:column>
								<p:column style="width:24px">
									<p:commandLink update="form_modificar"
										oncomplete="PF('modal_modificar').show()" title="Editar"
										styleClass="ui-icon pi pi-pencil">
										<f:setPropertyActionListener value="#{dpa}"
											target="#{beanDPA.dpa_selecionado}" />
									</p:commandLink>
								</p:column>
								<p:column style="width:24px">
									<p:commandLink class="turgui__btn_danger ml-2"
										oncomplete="PF('modal_eliminar').show()" title="Eliminar"
										styleClass="ui-icon pi pi-times">
										<f:setPropertyActionListener value="#{dpa}"
											target="#{beanDPA.dpa_selecionado}" />
									</p:commandLink>
								</p:column>
							</p:treeTable>

							<!--  Modal para mostrar informacion del DPA -->
							<div class="ui-fluid">
								<p:dialog id="dialog_informacion" header="Información DPA"
									showEffect="fade" widgetVar="documentDialog" modal="true"
									resizable="false">
									<p:outputPanel id="informacionPanel">
										<p:panelGrid columns="2" columnClasses="label,value"
											rendered="#{not empty beanDPA.dpa_selecionado}">
											<h:outputLabel for="idDivision" value="Id: " />
											<h:outputText id="idDivision"
												value="#{beanDPA.dpa_selecionado.idDivisionPolitica}"
												style="font-weight:bold" />
											<h:outputLabel for="nombre" value="Nombre: " />
											<h:outputText id="nombre"
												value="#{beanDPA.dpa_selecionado.nombre}"
												style="font-weight:bold" />
											<h:outputLabel for="nivel" value="Nivel: " />
											<h:outputText id="nivel"
												value="#{beanDPA.dpa_selecionado.infNivel.nombre}"
												style="font-weight:bold" />
										</p:panelGrid>
									</p:outputPanel>

								</p:dialog>
							</div>
						</p:panel>
					</h:form>
				</div>
			</div>

			<!-- 		Fin de Datatable DPA -->

			<!-- Formulario para editar un  DPA -->
			<div class="col-sm">
				<p:dialog header="Modificar DPA" widgetVar="modal_modificar"
					modal="true" width="350">
					<h:form id="form_modificar">
						<div class="form-group">
							<p:outputLabel for="nombre">Nombre</p:outputLabel>
							<p:inputText id="nombre" class="form-control"
								value="#{beanDPA.dpa_selecionado.nombre}" required="true"
								validatorMessage="Solo se permite letras - Dato de Nivel No ingresado ">
								<f:validateRegex
									pattern="[ A-Za-zäÄëËïÏöÖüÜáéíóúáéíóúÁÉÍÓÚÂÊÎÔÛâêîôûàèìòùÀÈÌÒÙ.-]+"></f:validateRegex>
							</p:inputText>
						</div>
						<p:commandButton
							class="turgui__btn_primary turgui__icon_space btn-block"
							value="Guardar" icon="fa fa-save" update="@form, :form2"
							onclick="PF('modal_modificar').hide();"
							actionListener="#{beanDPA.actionListenerActualizarDPA()}" />
					</h:form>
				</p:dialog>
			</div>


			<!-- Modal para confirmar la eliminacion de un Registro -->
			<p:dialog header="Confirmación" widgetVar="modal_eliminar"
				modal="true" height="100">
				<h:form id="form_delete">
					<h:outputText value="Está seguro de eliminar?" />
					<p:separator />
					<p:commandButton value="Yes" update="@form, :form2"
						icon="pi pi-check" class="turgui__btn_primary turgui__icon_space "
						onclick="PF('modal_eliminar').hide();"
						action="#{beanDPA.actionEliminarDPA()}" />

					<p:commandButton value="No" type="button"
						class="turgui__btn_danger ml-2"
						onclick="PF('modal_eliminar').hide();" icon="pi pi-times" />

				</h:form>
			</p:dialog>
		</div>
		<!-- Container footer -->
		<ui:include src="../../modulos/meta_container_footer.xhtml" />
	</div>

	<!-- Scripts -->
	<ui:include src="../../modulos/meta_scripts.xhtml" />
</body>
</html>
