<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<!-- Meta data -->
<ui:include src="../../modulos/meta_data.xhtml" />

<h:head>
	<!-- Meta header -->
	<ui:include src="../../modulos/meta_header.xhtml" />
	<title>Turgui | Parametro</title>
</h:head>


<body>
	<!-- Menú -->
	<ui:include src="../../modulos/menu_admin.xhtml" />
	<!-- Meta body -->
	<ui:include src="../../modulos/meta_body.xhtml" />

	<div class="turgui-container-dashboard ">
		<!-- Sub container -->
		<ui:include src="../../modulos/meta_container.xhtml" />
		<div class="container">
			<h1>Parametros</h1>
			<div class="row">
				<!-- Formulario para registrar un nuevo Parametro -->
				<div class="col-sm">
					<p:commandButton value="Nuevo" type="button"
						class="turgui__btn_primary turgui__icon_space " icon="fa fa-plus"
						onclick="PF('modal_registrar').show();" />
					<p:dialog header="Registrar nuevo Nivel"
						widgetVar="modal_registrar" modal="true">
						<h:form id="form_create">
							<div class="form-group">
								<p:outputLabel for="nombre">Nombre</p:outputLabel>
								<p:inputText id="nombre" class="form-control"
									value="#{beanParametro.infParametro.nombre}" required="true"></p:inputText>
							</div>
							<div class="form-group">
								<p:outputLabel for="valor">Valor</p:outputLabel>
								<p:inputText id="valor" class="form-control"
									value="#{beanParametro.infParametro.valor}" required="true"></p:inputText>
							</div>

							<p:commandButton
								class="turgui__btn_primary turgui__icon_space btn-block"
								value="Guardar" icon="fa fa-save" update="@form, :form2"
								onclick="PF('modal_registrar').hide();"
								actionListener="#{beanParametro.accionInsertParametro()}" />
						</h:form>
					</p:dialog>
				</div>
			</div>

			<p:separator />

			<!-- Tabla con el contenido de los Niveles -->
			<div class="row">
				<div class="col-sm">
					<h:form id="form2">
						<p:panel header="Datos Parametro">
							<p:dataTable value="#{beanParametro.listaInfParametro}"
								var="infParametro" reflow="true" paginator="true" rows="5">
								<p:column headerText="Id" filterBy="#{infParametro.idParametro}"
									filterMatchMode="contains" priority="1">
									<h:outputText value="#{infParametro.idParametro}"></h:outputText>
								</p:column>

								<p:column headerText="Nombre" filterBy="#{infParametro.nombre}"
									filterMatchMode="contains" priority="1">
									<h:outputText value="#{infParametro.nombre}"></h:outputText>
								</p:column>

								<p:column headerText="Valor" filterBy="#{infParametro.valor}"
									filterMatchMode="contains" priority="1">
									<h:outputText value="#{infParametro.valor}"></h:outputText>
								</p:column>





								<p:column>

									<div class="col-sm">
										<p:commandButton class="turgui__btn_info" value="Modificar"
											icon="fa fa-edit"
											actionListener="#{beanParametro.cambiarDatosParametro(infParametro)}"
											onclick="PF('modal_modificar').show();"
											update="@form, :form_modificar">
										</p:commandButton>
										<p:commandButton class="turgui__btn_danger ml-2"
											value="Eliminar" icon="fa fa-remove"
											actionListener="#{beanParametro.cambiarDatosParametro(infParametro)}"
											onclick="PF('modal_eliminar').show();">
										</p:commandButton>
									</div>
								</p:column>

							</p:dataTable>
						</p:panel>
					</h:form>
				</div>
			</div>

			<!-- Modal para confirmar la eliminacion de un Registro -->
			<p:dialog header="Confirmación" widgetVar="modal_eliminar"
				modal="true" height="100">
				<h:form id="form_delete">
					<h:outputText value="Está seguro de eliminar?" />
					<p:separator />
					<p:commandButton value="Yes" update="@form, :form2"
						icon="pi pi-check" class="turgui__btn_primary turgui__icon_space "
						onclick="PF('modal_eliminar').hide();"
						action="#{beanParametro.actionListenerEliminarParametro()}" />

					<p:commandButton value="No" type="button"
						class="turgui__btn_danger ml-2"
						onclick="PF('modal_eliminar').hide();" icon="pi pi-times" />

				</h:form>
			</p:dialog>


			<!-- Formulario para editar un  Parametro -->
			<div class="col-sm">
				<p:dialog header="Modificar Nivel" widgetVar="modal_modificar"
					modal="true">
					<h:form id="form_modificar">
						<div class="form-group">
							<p:outputLabel for="nombre">Nombre</p:outputLabel>
							<p:inputText id="nombre" class="form-control"
								value="#{beanParametro.infParametro.nombre}" required="true"></p:inputText>
						</div>
						<div class="form-group">
							<p:outputLabel for="valor">Valor</p:outputLabel>
							<p:inputText id="valor" class="form-control"
								value="#{beanParametro.infParametro.valor}" required="true"></p:inputText>
						</div>
						<p:commandButton
							class="turgui__btn_primary turgui__icon_space btn-block"
							value="Guardar" icon="fa fa-save" update="@form, :form2"
							onclick="PF('modificar_tipoArchivo').hide();"
							actionListener="#{beanParametro.actionListenerActualizarParametro()}" />
					</h:form>
				</p:dialog>
			</div>
		</div>
		<!-- Container footer -->
		<ui:include src="../../modulos/meta_container_footer.xhtml" />
	</div>

	<!-- Scripts -->
	<ui:include src="../../modulos/meta_scripts.xhtml" />
</body>
</html>
