<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">

<!-- Meta data -->
<ui:include src="../modulos/meta_data.xhtml" />

<h:head>
	<!-- Meta header -->
	<ui:include src="../modulos/menu_header_level_one.xhtml" />
	<title>Turgui | Usuario</title>
</h:head>
<body>
	<div class="nav-side-menu turgui-no-margin">
		<div class="brand">Menú</div>
		<i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse"
			data-target="#menu-content"></i>

		<div class="menu-list">

			<ul id="menu-content" class="menu-content collapse out">
				<li><a href="index.xhtml"> <i class="pi pi-home fa-lg"></i>
						Inicio
				</a></li>

				<li data-toggle="collapse" data-target="#products"
					class="collapsed"><a href="#"><i
						class="fa fa-star-half-o fa-lg"></i> Calificación <span></span></a></li>

				<li data-toggle="collapse" data-target="#service" class="collapsed">
					<a href="#"><i class="fa fa-file-text-o fa-lg"></i> Comentario <span></span></a>
				</li>
				<li data-toggle="collapse" data-target="#service" class="collapsed">
					<a href="#"><i class="fa fa-globe fa-lg"></i> Mapa <span></span></a>
				</li>

			</ul>
		</div>
	</div>
	<!-- Meta body -->
	<ui:include src="../modulos/meta_body.xhtml" />
	
	<div class="turgui-container-dashboard ">
		<!-- Sub container -->
		<ui:include src="../modulos/meta_container.xhtml" />
		<div class="container"></div>
		<!-- Container footer -->
		<ui:include src="../modulos/meta_container_footer.xhtml" />
	</div>

	<!-- Scripts -->
	<ui:include src="../modulos/meta_scripts_level_one.xhtml" />
</body>
</html>
